<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
  <div class="row">
    <div class="col">
      <div class="alert alert-light alert-elevate fade show" role="alert">
        <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
        <div class="alert-text">
          Socicon is a social icons font with more than 170 icons from all major services. Socicon is free and
          easy to use.
          <br>
          For more info please visit the plugin's <a class="kt-link kt-font-bold"
            href="http://www.socicon.com/chart.php" target="_blank">Demo Page</a>.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <!--begin::Portlet-->
      <% include portlet/portlet %>

      <!--end::Portlet-->
    </div>
  </div>
</div>
