<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
  <% include portlet/firstblock %>
  <% include portlet/secondblock %>
  <% include portlet/thirdblock %>
  <% include portlet/fourthblock %>
</div>
