<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
  <div class="row">
    <div class="col-lg-6">
      <% for (var i = 0; i < 4; i++ ) { %>
      <% include portlet/leftcol %>
      <% } %>
    </div>
    <div class="col-lg-6">
      <% for (var i = 0; i < 4; i++ ) { %>
      <% include portlet/rightcol %>
      <% } %>
    </div>
  </div>
</div>
