<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
  <div class="row">
    <div class="col-xl-6">
      <% for (var i = 0; i < 5; i++ ) { %>
      <% include portlet/portlet1 %>
      <% } %>
    </div>
    <div class="col-xl-6">
      <% for (var i = 0; i < 5; i++ ) { %>
      <% include portlet/portlet2 %>
      <% } %>

    </div>
  </div>
</div>
