<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
  <div class="kt-portlet">
    <div class="kt-portlet__body kt-portlet__body--fit">
      <div class="kt-grid  kt-wizard-v1 kt-wizard-v1--white" id="kt_wizard_v1" data-ktwizard-state="step-first">
        <div class="kt-grid__item">

          <!--begin: Form Wizard Nav -->
          <% include wizardNav %>
          <!--end: Form Wizard Nav -->
        </div>
        <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1__wrapper">

          <!--begin: Form Wizard Form-->
          <% include wizardForm %>
          <!--end: Form Wizard Form-->
        </div>
      </div>
    </div>
  </div>
</div>
