<div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
  <div class="kt-heading kt-heading--md">Enter the Details of your Delivery</div>
  <div class="kt-form__section kt-form__section--first">
    <div class="kt-wizard-v1__form">
      <div class="form-group">
        <label>Package Details</label>
        <input type="text" class="form-control" name="package" placeholder="Package Details"
          value="Complete Workstation (Monitor, Computer, Keyboard & Mouse)">
        <span class="form-text text-muted">Please enter your Pakcage Details.</span>
      </div>
      <div class="form-group">
        <label>Package Weight in KG</label>
        <input type="text" class="form-control" name="weight" placeholder="Package Weight" value="25">
        <span class="form-text text-muted">Please enter your Package Weight in KG.</span>
      </div>
      <div class="kt-wizard-v1__form-label">Package Dimensions</div>
      <div class="row">
        <div class="col-xl-4">
          <div class="form-group">
            <label>Package Width in CM</label>
            <input type="text" class="form-control" name="width" placeholder="Package Width" value="110">
            <span class="form-text text-muted">Please enter your Package Width in CM.</span>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="form-group">
            <label>Package Height in CM</label>
            <input type="text" class="form-control" name="height" placeholder="Package Length" value="90">
            <span class="form-text text-muted">Please enter your Package Height in CM.</span>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="form-group">
            <label>Package Length in CM</label>
            <input type="text" class="form-control" name="length" placeholder="Package Length" value="150">
            <span class="form-text text-muted">Please enter your Package Length in CM.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
