<form class="kt-form" id="kt_form">

  <!--begin: Form Wizard Step 1-->
  <% include step1 %>
  <!--end: Form Wizard Step 1-->

  <!--begin: Form Wizard Step 2-->
  <% include step2 %>
  <!--end: Form Wizard Step 2-->

  <!--begin: Form Wizard Step 3-->
  <% include step3 %>
  <!--end: Form Wizard Step 3-->

  <!--begin: Form Wizard Step 4-->
  <% include step4 %>
  <!--end: Form Wizard Step 4-->

  <!--begin: Form Wizard Step 5-->
  <% include step5 %>
  <!--end: Form Wizard Step 5-->

  <!--begin: Form Actions -->
  <% include formactions %>
  <!--end: Form Actions -->
</form>
