<div class="kt-wizard-v1__nav">
  <div class="kt-wizard-v1__nav-items">
    <a class="kt-wizard-v1__nav-item" href="#" data-ktwizard-type="step" data-ktwizard-state="current">
      <div class="kt-wizard-v1__nav-body">
        <div class="kt-wizard-v1__nav-icon">
          <i class="flaticon-bus-stop"></i>
        </div>
        <div class="kt-wizard-v1__nav-label">
          1) Setup Location
        </div>
      </div>
    </a>
    <a class="kt-wizard-v1__nav-item" href="#" data-ktwizard-type="step">
      <div class="kt-wizard-v1__nav-body">
        <div class="kt-wizard-v1__nav-icon">
          <i class="flaticon-list"></i>
        </div>
        <div class="kt-wizard-v1__nav-label">
          2) Enter Details
        </div>
      </div>
    </a>
    <a class="kt-wizard-v1__nav-item" href="#" data-ktwizard-type="step">
      <div class="kt-wizard-v1__nav-body">
        <div class="kt-wizard-v1__nav-icon">
          <i class="flaticon-responsive"></i>
        </div>
        <div class="kt-wizard-v1__nav-label">
          3) Select Services
        </div>
      </div>
    </a>
    <a class="kt-wizard-v1__nav-item" href="#" data-ktwizard-type="step">
      <div class="kt-wizard-v1__nav-body">
        <div class="kt-wizard-v1__nav-icon">
          <i class="flaticon-truck"></i>
        </div>
        <div class="kt-wizard-v1__nav-label">
          4) Delivery Address
        </div>
      </div>
    </a>
    <a class="kt-wizard-v1__nav-item" href="#" data-ktwizard-type="step">
      <div class="kt-wizard-v1__nav-body">
        <div class="kt-wizard-v1__nav-icon">
          <i class="flaticon-globe"></i>
        </div>
        <div class="kt-wizard-v1__nav-label">
          5) Review and Submit
        </div>
      </div>
    </a>
  </div>
</div>
