
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													Basic Tables
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">

											<!--begin::Section-->
											<div class="kt-section">
												<span class="kt-section__info">
													Using the most basic table markup, here’s how tables look in Metronic:
												</span>
												<div class="kt-section__content">
													<table class="table">
														<thead>
															<tr>
																<th>#</th>
																<th>First Name</th>
																<th>Last Name</th>
																<th>Username</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<th scope="row">1</th>
																<td>Jhon</td>
																<td>Stone</td>
																<td>@jhon</td>
															</tr>
															<tr>
																<th scope="row">2</th>
																<td>Lisa</td>
																<td>Nilson</td>
																<td>@lisa</td>
															</tr>
															<tr>
																<th scope="row">3</th>
																<td>Larry</td>
																<td>the Bird</td>
																<td>@twitter</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>

											<!--end::Section-->

											<!--begin::Section-->
											<div class="kt-section">
												<span class="kt-section__info">
													You can also invert the colors—with light text on dark backgrounds—with <code>.table-dark</code>.
												</span>
												<div class="kt-section__content">
													<table class="table table-dark">
														<thead>
															<tr>
																<th>#</th>
																<th>First Name</th>
																<th>Last Name</th>
																<th>Username</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<th scope="row">1</th>
																<td>Jhon</td>
																<td>Stone</td>
																<td>@jhon</td>
															</tr>
															<tr>
																<th scope="row">2</th>
																<td>Lisa</td>
																<td>Nilson</td>
																<td>@lisa</td>
															</tr>
															<tr>
																<th scope="row">3</th>
																<td>Larry</td>
																<td>the Bird</td>
																<td>@twitter</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>

											<!--end::Section-->
										</div>

										<!--end::Form-->
									</div>