
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													Basic Examples
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">

											<!--begin::Section-->
											<div class="kt-section">
												<h3 class="kt-section__title">
													Basic Usage
												</h3>
												<span class="kt-section__info">
													Click below button to toggle tooltip:
												</span>
												<div class="kt-section__content">
													<button type="button" class="btn btn-danger" data-toggle="kt-tooltip" data-placement="left" title="Tooltip title">Click me</button>
												</div>
											</div>

											<!--end::Section-->
											<div class="kt-separator kt-separator--dashed"></div>

											<!--begin::Section-->
											<div class="kt-section">
												<h3 class="kt-section__title">
													Directions
												</h3>
												<span class="kt-section__info">
													Four direction options are available: top, right, bottom, and left aligned:
												</span>
												<div class="kt-section__content">
													<button type="button" class="btn btn-brand" data-container="body" data-toggle="kt-tooltip" data-placement="top" title="Tooltip title">
														Tooltip on top
													</button>
													<div class="kt-space-10"></div>
													<button type="button" class="btn btn-primary" data-container="body" data-toggle="kt-tooltip" data-placement="right" title="Tooltip title">
														Tooltip on right
													</button>
													<div class="kt-space-10"></div>
													<button type="button" class="btn btn-warning" data-container="body" data-toggle="kt-tooltip" data-placement="bottom" title="Tooltip title">
														Tooltip on bottom
													</button>
													<div class="kt-space-10"></div>
													<button type="button" class="btn btn-success" data-container="body" data-container="body" data-toggle="kt-tooltip" data-placement="left" title="Tooltip title">
														Tooltip on left
													</button>
												</div>
											</div>

											<!--end::Section-->
											<div class="kt-separator kt-separator--dashed"></div>

											<!--begin::Section-->
											<div class="kt-section">
												<h3 class="kt-section__title">
													Dismiss on next click
												</h3>
												<span class="kt-section__info">
													Use the focus trigger to dismiss tooltips on the next click that the user makes.
												</span>
												<div class="kt-section__content">
													<a tabindex="0" class="btn btn-success" role="button" data-toggle="kt-tooltip" data-trigger="focus" title="Dismissible tooltip" data-content="And here's some amazing content. It's very engaging. Right?">Dismissible tooltip</a>
												</div>
											</div>

											<!--end::Section-->
										</div>
									</div>