<div class="row">
  <div class="col-md-2">
    <div class="kt-demo-icon kt-demo-icon--overlay">
      <div class="kt-demo-icon__preview">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
          viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
            <path
              d="M12.5,14 C12.5,11.2385763 15.7385763,8 18.5,8 C21.2614237,8 23.5,9.23857625 23.5,12 C23.5,14.7614237 21.2614237,17 18.5,17 C16.6555516,17 14.5982285,16.8935626 13.4352772,16 L11.0647228,16 C9.90177152,16.8935626 7.8444484,17 6,17 C3.23857625,17 1,14.7614237 1,12 C1,9.23857625 3.23857625,8 6,8 C8.76142375,8 12,11.2385763 12,14 L12.5,14 Z"
              id="Combined-Shape" fill="#000000" />
          </g>
        </svg> </div>
      <div class="kt-demo-icon__class">
        Brassiere.svg </div>
      <div class="kt-demo-icon__overlay">
        <a href="javascript:;" data-toggle="modal" data-target="#svg_img_5ccc833d29081" class="btn btn-sm btn-brand">Use
          as Img</a>
        <a href="javascript:;" data-toggle="modal" data-target="#svg_inline_5ccc833d29081"
          class="btn btn-sm btn-brand">Or inline SVG</a>
      </div>
      <div class="modal fade" id="svg_img_5ccc833d29081" tabindex="-1" role="dialog"
        aria-labelledby="svg_img_label_5ccc833d29081">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="svg_img_label_5ccc833d29081">Brassiere.svg</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <pre>&lt;img src=&quot;./assets/media/icons/svg/Clothes/Brassiere.svg&quot;/&gt;</pre>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="svg_inline_5ccc833d29081" tabindex="-1" role="dialog"
        aria-labelledby="svg_inline_label_5ccc833d29081">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="svg_inline_label_5ccc833d29081">Brassiere.svg</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <pre>&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; width=&quot;24px&quot; height=&quot;24px&quot; viewBox=&quot;0 0 24 24&quot; version=&quot;1.1&quot; class=&quot;kt-svg-icon&quot;&gt;
&lt;g stroke=&quot;none&quot; stroke-width=&quot;1&quot; fill=&quot;none&quot; fill-rule=&quot;evenodd&quot;&gt;
&lt;polygon id=&quot;Shape&quot; points=&quot;0 0 24 0 24 24 0 24&quot;/&gt;
&lt;path d=&quot;M12.5,14 C12.5,11.2385763 15.7385763,8 18.5,8 C21.2614237,8 23.5,9.23857625 23.5,12 C23.5,14.7614237 21.2614237,17 18.5,17 C16.6555516,17 14.5982285,16.8935626 13.4352772,16 L11.0647228,16 C9.90177152,16.8935626 7.8444484,17 6,17 C3.23857625,17 1,14.7614237 1,12 C1,9.23857625 3.23857625,8 6,8 C8.76142375,8 12,11.2385763 12,14 L12.5,14 Z&quot; id=&quot;Combined-Shape&quot; fill=&quot;#000000&quot;/&gt;
&lt;/g&gt;
&lt;/svg&gt;</pre>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="kt-demo-icon kt-demo-icon--overlay">
      <div class="kt-demo-icon__preview">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
          viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
            <path
              d="M12.5,14 C12.5,11.2385763 15.7385763,8 18.5,8 C21.2614237,8 23.5,9.23857625 23.5,12 C23.5,14.7614237 21.2614237,17 18.5,17 C16.6555516,17 14.5982285,16.8935626 13.4352772,16 L11.0647228,16 C9.90177152,16.8935626 7.8444484,17 6,17 C3.23857625,17 1,14.7614237 1,12 C1,9.23857625 3.23857625,8 6,8 C8.76142375,8 12,11.2385763 12,14 L12.5,14 Z"
              id="Combined-Shape" fill="#000000" />
          </g>
        </svg> </div>
      <div class="kt-demo-icon__class">
        Brassiere.svg </div>
      <div class="kt-demo-icon__overlay">
        <a href="javascript:;" data-toggle="modal" data-target="#svg_img_5ccc833d29081" class="btn btn-sm btn-brand">Use
          as Img</a>
        <a href="javascript:;" data-toggle="modal" data-target="#svg_inline_5ccc833d29081"
          class="btn btn-sm btn-brand">Or inline SVG</a>
      </div>
      <div class="modal fade" id="svg_img_5ccc833d29081" tabindex="-1" role="dialog"
        aria-labelledby="svg_img_label_5ccc833d29081">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="svg_img_label_5ccc833d29081">Brassiere.svg</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <pre>&lt;img src=&quot;./assets/media/icons/svg/Clothes/Brassiere.svg&quot;/&gt;</pre>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="svg_inline_5ccc833d29081" tabindex="-1" role="dialog"
        aria-labelledby="svg_inline_label_5ccc833d29081">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="svg_inline_label_5ccc833d29081">Brassiere.svg</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <pre>&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; width=&quot;24px&quot; height=&quot;24px&quot; viewBox=&quot;0 0 24 24&quot; version=&quot;1.1&quot; class=&quot;kt-svg-icon&quot;&gt;
&lt;g stroke=&quot;none&quot; stroke-width=&quot;1&quot; fill=&quot;none&quot; fill-rule=&quot;evenodd&quot;&gt;
&lt;polygon id=&quot;Shape&quot; points=&quot;0 0 24 0 24 24 0 24&quot;/&gt;
&lt;path d=&quot;M12.5,14 C12.5,11.2385763 15.7385763,8 18.5,8 C21.2614237,8 23.5,9.23857625 23.5,12 C23.5,14.7614237 21.2614237,17 18.5,17 C16.6555516,17 14.5982285,16.8935626 13.4352772,16 L11.0647228,16 C9.90177152,16.8935626 7.8444484,17 6,17 C3.23857625,17 1,14.7614237 1,12 C1,9.23857625 3.23857625,8 6,8 C8.76142375,8 12,11.2385763 12,14 L12.5,14 Z&quot; id=&quot;Combined-Shape&quot; fill=&quot;#000000&quot;/&gt;
&lt;/g&gt;
&lt;/svg&gt;</pre>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="kt-demo-icon kt-demo-icon--overlay">
      <div class="kt-demo-icon__preview">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
          viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
            <path
              d="M12.5,14 C12.5,11.2385763 15.7385763,8 18.5,8 C21.2614237,8 23.5,9.23857625 23.5,12 C23.5,14.7614237 21.2614237,17 18.5,17 C16.6555516,17 14.5982285,16.8935626 13.4352772,16 L11.0647228,16 C9.90177152,16.8935626 7.8444484,17 6,17 C3.23857625,17 1,14.7614237 1,12 C1,9.23857625 3.23857625,8 6,8 C8.76142375,8 12,11.2385763 12,14 L12.5,14 Z"
              id="Combined-Shape" fill="#000000" />
          </g>
        </svg> </div>
      <div class="kt-demo-icon__class">
        Brassiere.svg </div>
      <div class="kt-demo-icon__overlay">
        <a href="javascript:;" data-toggle="modal" data-target="#svg_img_5ccc833d29081" class="btn btn-sm btn-brand">Use
          as Img</a>
        <a href="javascript:;" data-toggle="modal" data-target="#svg_inline_5ccc833d29081"
          class="btn btn-sm btn-brand">Or inline SVG</a>
      </div>
      <div class="modal fade" id="svg_img_5ccc833d29081" tabindex="-1" role="dialog"
        aria-labelledby="svg_img_label_5ccc833d29081">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="svg_img_label_5ccc833d29081">Brassiere.svg</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <pre>&lt;img src=&quot;./assets/media/icons/svg/Clothes/Brassiere.svg&quot;/&gt;</pre>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="svg_inline_5ccc833d29081" tabindex="-1" role="dialog"
        aria-labelledby="svg_inline_label_5ccc833d29081">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="svg_inline_label_5ccc833d29081">Brassiere.svg</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <pre>&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; width=&quot;24px&quot; height=&quot;24px&quot; viewBox=&quot;0 0 24 24&quot; version=&quot;1.1&quot; class=&quot;kt-svg-icon&quot;&gt;
&lt;g stroke=&quot;none&quot; stroke-width=&quot;1&quot; fill=&quot;none&quot; fill-rule=&quot;evenodd&quot;&gt;
&lt;polygon id=&quot;Shape&quot; points=&quot;0 0 24 0 24 24 0 24&quot;/&gt;
&lt;path d=&quot;M12.5,14 C12.5,11.2385763 15.7385763,8 18.5,8 C21.2614237,8 23.5,9.23857625 23.5,12 C23.5,14.7614237 21.2614237,17 18.5,17 C16.6555516,17 14.5982285,16.8935626 13.4352772,16 L11.0647228,16 C9.90177152,16.8935626 7.8444484,17 6,17 C3.23857625,17 1,14.7614237 1,12 C1,9.23857625 3.23857625,8 6,8 C8.76142375,8 12,11.2385763 12,14 L12.5,14 Z&quot; id=&quot;Combined-Shape&quot; fill=&quot;#000000&quot;/&gt;
&lt;/g&gt;
&lt;/svg&gt;</pre>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="kt-demo-icon kt-demo-icon--overlay">
      <div class="kt-demo-icon__preview">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
          viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
            <path
              d="M12.5,14 C12.5,11.2385763 15.7385763,8 18.5,8 C21.2614237,8 23.5,9.23857625 23.5,12 C23.5,14.7614237 21.2614237,17 18.5,17 C16.6555516,17 14.5982285,16.8935626 13.4352772,16 L11.0647228,16 C9.90177152,16.8935626 7.8444484,17 6,17 C3.23857625,17 1,14.7614237 1,12 C1,9.23857625 3.23857625,8 6,8 C8.76142375,8 12,11.2385763 12,14 L12.5,14 Z"
              id="Combined-Shape" fill="#000000" />
          </g>
        </svg> </div>
      <div class="kt-demo-icon__class">
        Brassiere.svg </div>
      <div class="kt-demo-icon__overlay">
        <a href="javascript:;" data-toggle="modal" data-target="#svg_img_5ccc833d29081" class="btn btn-sm btn-brand">Use
          as Img</a>
        <a href="javascript:;" data-toggle="modal" data-target="#svg_inline_5ccc833d29081"
          class="btn btn-sm btn-brand">Or inline SVG</a>
      </div>
      <div class="modal fade" id="svg_img_5ccc833d29081" tabindex="-1" role="dialog"
        aria-labelledby="svg_img_label_5ccc833d29081">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="svg_img_label_5ccc833d29081">Brassiere.svg</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <pre>&lt;img src=&quot;./assets/media/icons/svg/Clothes/Brassiere.svg&quot;/&gt;</pre>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="svg_inline_5ccc833d29081" tabindex="-1" role="dialog"
        aria-labelledby="svg_inline_label_5ccc833d29081">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="svg_inline_label_5ccc833d29081">Brassiere.svg</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <pre>&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; width=&quot;24px&quot; height=&quot;24px&quot; viewBox=&quot;0 0 24 24&quot; version=&quot;1.1&quot; class=&quot;kt-svg-icon&quot;&gt;
&lt;g stroke=&quot;none&quot; stroke-width=&quot;1&quot; fill=&quot;none&quot; fill-rule=&quot;evenodd&quot;&gt;
&lt;polygon id=&quot;Shape&quot; points=&quot;0 0 24 0 24 24 0 24&quot;/&gt;
&lt;path d=&quot;M12.5,14 C12.5,11.2385763 15.7385763,8 18.5,8 C21.2614237,8 23.5,9.23857625 23.5,12 C23.5,14.7614237 21.2614237,17 18.5,17 C16.6555516,17 14.5982285,16.8935626 13.4352772,16 L11.0647228,16 C9.90177152,16.8935626 7.8444484,17 6,17 C3.23857625,17 1,14.7614237 1,12 C1,9.23857625 3.23857625,8 6,8 C8.76142375,8 12,11.2385763 12,14 L12.5,14 Z&quot; id=&quot;Combined-Shape&quot; fill=&quot;#000000&quot;/&gt;
&lt;/g&gt;
&lt;/svg&gt;</pre>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="kt-demo-icon kt-demo-icon--overlay">
      <div class="kt-demo-icon__preview">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
          viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
            <path
              d="M12.5,14 C12.5,11.2385763 15.7385763,8 18.5,8 C21.2614237,8 23.5,9.23857625 23.5,12 C23.5,14.7614237 21.2614237,17 18.5,17 C16.6555516,17 14.5982285,16.8935626 13.4352772,16 L11.0647228,16 C9.90177152,16.8935626 7.8444484,17 6,17 C3.23857625,17 1,14.7614237 1,12 C1,9.23857625 3.23857625,8 6,8 C8.76142375,8 12,11.2385763 12,14 L12.5,14 Z"
              id="Combined-Shape" fill="#000000" />
          </g>
        </svg> </div>
      <div class="kt-demo-icon__class">
        Brassiere.svg </div>
      <div class="kt-demo-icon__overlay">
        <a href="javascript:;" data-toggle="modal" data-target="#svg_img_5ccc833d29081" class="btn btn-sm btn-brand">Use
          as Img</a>
        <a href="javascript:;" data-toggle="modal" data-target="#svg_inline_5ccc833d29081"
          class="btn btn-sm btn-brand">Or inline SVG</a>
      </div>
      <div class="modal fade" id="svg_img_5ccc833d29081" tabindex="-1" role="dialog"
        aria-labelledby="svg_img_label_5ccc833d29081">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="svg_img_label_5ccc833d29081">Brassiere.svg</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <pre>&lt;img src=&quot;./assets/media/icons/svg/Clothes/Brassiere.svg&quot;/&gt;</pre>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="svg_inline_5ccc833d29081" tabindex="-1" role="dialog"
        aria-labelledby="svg_inline_label_5ccc833d29081">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="svg_inline_label_5ccc833d29081">Brassiere.svg</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <pre>&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; width=&quot;24px&quot; height=&quot;24px&quot; viewBox=&quot;0 0 24 24&quot; version=&quot;1.1&quot; class=&quot;kt-svg-icon&quot;&gt;
&lt;g stroke=&quot;none&quot; stroke-width=&quot;1&quot; fill=&quot;none&quot; fill-rule=&quot;evenodd&quot;&gt;
&lt;polygon id=&quot;Shape&quot; points=&quot;0 0 24 0 24 24 0 24&quot;/&gt;
&lt;path d=&quot;M12.5,14 C12.5,11.2385763 15.7385763,8 18.5,8 C21.2614237,8 23.5,9.23857625 23.5,12 C23.5,14.7614237 21.2614237,17 18.5,17 C16.6555516,17 14.5982285,16.8935626 13.4352772,16 L11.0647228,16 C9.90177152,16.8935626 7.8444484,17 6,17 C3.23857625,17 1,14.7614237 1,12 C1,9.23857625 3.23857625,8 6,8 C8.76142375,8 12,11.2385763 12,14 L12.5,14 Z&quot; id=&quot;Combined-Shape&quot; fill=&quot;#000000&quot;/&gt;
&lt;/g&gt;
&lt;/svg&gt;</pre>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="kt-demo-icon kt-demo-icon--overlay">
      <div class="kt-demo-icon__preview">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
          viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
            <path
              d="M12.5,14 C12.5,11.2385763 15.7385763,8 18.5,8 C21.2614237,8 23.5,9.23857625 23.5,12 C23.5,14.7614237 21.2614237,17 18.5,17 C16.6555516,17 14.5982285,16.8935626 13.4352772,16 L11.0647228,16 C9.90177152,16.8935626 7.8444484,17 6,17 C3.23857625,17 1,14.7614237 1,12 C1,9.23857625 3.23857625,8 6,8 C8.76142375,8 12,11.2385763 12,14 L12.5,14 Z"
              id="Combined-Shape" fill="#000000" />
          </g>
        </svg> </div>
      <div class="kt-demo-icon__class">
        Brassiere.svg </div>
      <div class="kt-demo-icon__overlay">
        <a href="javascript:;" data-toggle="modal" data-target="#svg_img_5ccc833d29081" class="btn btn-sm btn-brand">Use
          as Img</a>
        <a href="javascript:;" data-toggle="modal" data-target="#svg_inline_5ccc833d29081"
          class="btn btn-sm btn-brand">Or inline SVG</a>
      </div>
      <div class="modal fade" id="svg_img_5ccc833d29081" tabindex="-1" role="dialog"
        aria-labelledby="svg_img_label_5ccc833d29081">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="svg_img_label_5ccc833d29081">Brassiere.svg</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <pre>&lt;img src=&quot;./assets/media/icons/svg/Clothes/Brassiere.svg&quot;/&gt;</pre>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="svg_inline_5ccc833d29081" tabindex="-1" role="dialog"
        aria-labelledby="svg_inline_label_5ccc833d29081">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="svg_inline_label_5ccc833d29081">Brassiere.svg</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <pre>&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; width=&quot;24px&quot; height=&quot;24px&quot; viewBox=&quot;0 0 24 24&quot; version=&quot;1.1&quot; class=&quot;kt-svg-icon&quot;&gt;
&lt;g stroke=&quot;none&quot; stroke-width=&quot;1&quot; fill=&quot;none&quot; fill-rule=&quot;evenodd&quot;&gt;
&lt;polygon id=&quot;Shape&quot; points=&quot;0 0 24 0 24 24 0 24&quot;/&gt;
&lt;path d=&quot;M12.5,14 C12.5,11.2385763 15.7385763,8 18.5,8 C21.2614237,8 23.5,9.23857625 23.5,12 C23.5,14.7614237 21.2614237,17 18.5,17 C16.6555516,17 14.5982285,16.8935626 13.4352772,16 L11.0647228,16 C9.90177152,16.8935626 7.8444484,17 6,17 C3.23857625,17 1,14.7614237 1,12 C1,9.23857625 3.23857625,8 6,8 C8.76142375,8 12,11.2385763 12,14 L12.5,14 Z&quot; id=&quot;Combined-Shape&quot; fill=&quot;#000000&quot;/&gt;
&lt;/g&gt;
&lt;/svg&gt;</pre>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
