<div class="kt-portlet kt-portlet--tab">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon kt-hidden">
        <i class="la la-gear"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Geolocation
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div id="kt_gmap_4" style="height:300px;"></div>
  </div>
</div>
