<div class="kt-portlet kt-portlet--tab">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon kt-hidden">
        <i class="la la-gear"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Geocoding
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <form class="kt-margin-b-20" action="#">
      <div class="input-group">
        <input type="text" class="form-control" id="kt_gmap_8_address" placeholder="address...">
        <div class="input-group-append">
          <button class="btn btn-primary" id="kt_gmap_8_btn"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>
    <div id="kt_gmap_8" style="height:300px;">
    </div>
  </div>
</div>
