<div class="kt-login__signin">
  <div class="kt-login__head">
    <h3 class="kt-login__title"><%= signin.title %></h3>
  </div>
  <form class="kt-form" action="">
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Email" name="email" autocomplete="off">
    </div>
    <div class="input-group">
      <input class="form-control" type="password" placeholder="Password" name="password">
    </div>
    <div class="row kt-login__extra">
      <div class="col">
        <label class="kt-checkbox">
          <input type="checkbox" name="remember"> <%= signin.checkbox %>
          <span></span>
        </label>
      </div>
      <div class="col kt-align-right">
        <a href="javascript:;" id="kt_login_forgot" class="kt-link kt-login__link"><%= signin.forget %></a>
      </div>
    </div>
    <div class="kt-login__actions">
      <button id="kt_login_signin_submit" class="btn btn-pill kt-login__btn-primary"><%= signin.button %></button>
    </div>
  </form>
</div>
