<div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
  <div class="kt-heading kt-heading--md">Enter your Payment Details</div>
  <div class="kt-form__section kt-form__section--first">
    <div class="kt-wizard-v2__form">
      <div class="row">
        <div class="col-xl-6">
          <div class="form-group">
            <label>Name on Card</label>
            <input type="text" class="form-control" name="ccname" placeholder="Card Name" value="John Wick">
            <span class="form-text text-muted">Please enter your Card Name.</span>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="form-group">
            <label>Card Number</label>
            <input type="text" class="form-control" name="ccnumber" placeholder="Card Number"
              value="4444 3333 2222 1111">
            <span class="form-text text-muted">Please enter your Address.</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4">
          <div class="form-group">
            <label>Card Expiry Month</label>
            <input type="number" class="form-control" name="ccmonth" placeholder="Card Expiry Month" value="01">
            <span class="form-text text-muted">Please enter your Card Expiry Month.</span>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="form-group">
            <label>Card Expiry Year</label>
            <input type="number" class="form-control" name="ccyear" placeholder="Card Expire Year" value="21">
            <span class="form-text text-muted">Please enter your Card Expiry Year.</span>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="form-group">
            <label>Card CVV Number</label>
            <input type="password" class="form-control" name="cccvv" placeholder="Card CVV Number" value="123">
            <span class="form-text text-muted">Please enter your Card CVV Number.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
