<div class="kt-wizard-v2__nav">
  <div class="kt-wizard-v2__nav-items">
    <a class="kt-wizard-v2__nav-item" href="#" data-ktwizard-type="step" data-ktwizard-state="current">
      <div class="kt-wizard-v2__nav-body">
        <div class="kt-wizard-v2__nav-icon">
          <i class="flaticon-globe"></i>
        </div>
        <div class="kt-wizard-v2__nav-label">
          <div class="kt-wizard-v2__nav-label-title">
            Account Settings
          </div>
          <div class="kt-wizard-v2__nav-label-desc">
            Setup Your Account Details
          </div>
        </div>
      </div>
    </a>
    <a class="kt-wizard-v2__nav-item" href="#" data-ktwizard-type="step">
      <div class="kt-wizard-v2__nav-body">
        <div class="kt-wizard-v2__nav-icon">
          <i class="flaticon-bus-stop"></i>
        </div>
        <div class="kt-wizard-v2__nav-label">
          <div class="kt-wizard-v2__nav-label-title">
            Setup Locations
          </div>
          <div class="kt-wizard-v2__nav-label-desc">
            Choose Your Location Map
          </div>
        </div>
      </div>
    </a>
    <a class="kt-wizard-v2__nav-item" href="#" data-ktwizard-type="step">
      <div class="kt-wizard-v2__nav-body">
        <div class="kt-wizard-v2__nav-icon">
          <i class="flaticon-responsive"></i>
        </div>
        <div class="kt-wizard-v2__nav-label">
          <div class="kt-wizard-v2__nav-label-title">
            Support Channels
          </div>
          <div class="kt-wizard-v2__nav-label-desc">
            Add Your Support Agents
          </div>
        </div>
      </div>
    </a>
    <a class="kt-wizard-v2__nav-item" href="#" data-ktwizard-type="step">
      <div class="kt-wizard-v2__nav-body">
        <div class="kt-wizard-v2__nav-icon">
          <i class="flaticon-trophy"></i>
        </div>
        <div class="kt-wizard-v2__nav-label">
          <div class="kt-wizard-v2__nav-label-title">
            Set Your Delivery Address
          </div>
          <div class="kt-wizard-v2__nav-label-desc">
            Address, Street, City, State
          </div>
        </div>
      </div>
    </a>
    <a class="kt-wizard-v2__nav-item" href="#" data-ktwizard-type="step">
      <div class="kt-wizard-v2__nav-body">
        <div class="kt-wizard-v2__nav-icon">
          <i class="flaticon-truck"></i>
        </div>
        <div class="kt-wizard-v2__nav-label">
          <div class="kt-wizard-v2__nav-label-title">
            Make Payment
          </div>
          <div class="kt-wizard-v2__nav-label-desc">
            Use Credit or Debit Cards
          </div>
        </div>
      </div>
    </a>
    <a class="kt-wizard-v2__nav-item" href="#" data-ktwizard-type="step">
      <div class="kt-wizard-v2__nav-body">
        <div class="kt-wizard-v2__nav-icon">
          <i class="flaticon-confetti"></i>
        </div>
        <div class="kt-wizard-v2__nav-label">
          <div class="kt-wizard-v2__nav-label-title">
            Completed!
          </div>
          <div class="kt-wizard-v2__nav-label-desc">
            Review and Submit
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
