
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

    <!--Begin::Dashboard 1-->

    <!--Begin::Section-->
    <div class="row">
        <div class="col-xl-4">

            <!--begin:: Widgets/Activity-->
            
            <% include content/widgets/activity %>

            <!--end:: Widgets/Activity-->
        </div>
        <div class="col-xl-4">

            <!--begin:: Widgets/Inbound Bandwidth-->

            <% include content/widgets/InboundBandwidth %>

            <!--end:: Widgets/Inbound Bandwidth-->
            <div class="kt-space-20"></div>

            <!--begin:: Widgets/Outbound Bandwidth-->

            <% include content/widgets/outboundBandwidth %>

            <!--end:: Widgets/Outbound Bandwidth-->
        </div>
        <div class="col-xl-4">

            <!--Begin::Portlet-->

            <% include content/portlet %>
            
            <!--End::Portlet-->
        </div>
    </div>

    <!--End::Section-->

    <!--Begin::Section-->

    <% include content/section1 %>

    <!--End::Section-->

    <!--Begin::Section-->

    <% include content/section2 %>

    <!--End::Section-->

    <!--Begin::Section-->

    <% include content/section3 %>

    <!--End::Section-->

    <!--Begin::Section-->
    <div class="row">
        <div class="col-xl-4">

            <!--begin:: Widgets/Tasks -->

            <% include content/widgets/tasks %>

            <!--end:: Widgets/Tasks -->
        </div>
        <div class="col-xl-4">

            <!--begin:: Widgets/Notifications-->

            <% include content/widgets/notifications %>

            <!--end:: Widgets/Notifications-->
        </div>
        <div class="col-xl-4">

            <!--begin:: Widgets/Support Tickets -->

            <% include content/widgets/supportTickets %>

            <!--end:: Widgets/Support Tickets -->
        </div>
    </div>

    <!--End::Section-->

    <!--End::Dashboard 1-->
</div>