<div class="kt-login__body">

  <!--begin::Signin-->
  <div class="kt-login__form">
    <div class="kt-login__title">
      <h3>Sign In</h3>
    </div>

    <!--begin::Form-->
    <% include form %>
    <!--end::Form-->

    <!--begin::Divider-->
    <% include divider %>
    <!--end::Divider-->

    <!--begin::Options-->
    <% include options %>
    <!--end::Options-->
  </div>

  <!--end::Signin-->
</div>
