<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">

  <!--begin::Head-->
  <% include head %>
  <!--end::Head-->

  <!--begin::Body-->
  <% include body %>
  <!--end::Body-->
</div>
