<div class="kt-login__head">
  <span class="kt-login__signup-label"><%= login1.head.label %></span>&nbsp;&nbsp;
  <a href="#" class="kt-link kt-login__signup-link"><%= login1.head.link %></a>
</div>
