<div class="kt-login__options">
  <a href="#" class="btn btn-primary kt-btn">
    <i class="fab fa-facebook-f"></i>
    Facebook
  </a>
  <a href="#" class="btn btn-info kt-btn">
    <i class="fab fa-twitter"></i>
    Twitter
  </a>
  <a href="#" class="btn btn-danger kt-btn">
    <i class="fab fa-google"></i>
    Google
  </a>
</div>
