<div class="kt-login__forgot">
  <div class="kt-login__head">
    <h3 class="kt-login__title"><%= forget.title %></h3>
    <div class="kt-login__desc"><%= forget.desc %></div>
  </div>
  <form class="kt-form" action="">
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Email" name="email" id="kt_email" autocomplete="off">
    </div>
    <div class="kt-login__actions">
      <button id="kt_login_forgot_submit" class="btn btn-pill kt-login__btn-primary"><%= forget.button[0] %></button>&nbsp;&nbsp;
      <button id="kt_login_forgot_cancel" class="btn btn-pill kt-login__btn-secondary"><%= forget.button[1] %></button>
    </div>
  </form>
</div>
