<div class="kt-grid__item kt-grid__item--fluid kt-grid__item--center kt-grid kt-grid--ver kt-login__content"
  style="background-image: url(./assets/media//bg/bg-4.jpg);">
  <div class="kt-login__section">
    <div class="kt-login__block">
      <h3 class="kt-login__title"><%= login6.aside.title %></h3>
      <div class="kt-login__desc">
        <%- login6.aside.desc %>
      </div>
    </div>
  </div>
</div>
