<div class="kt-login__container">
  <div class="kt-login__body">
    <div class="kt-login__logo">
      <a href="#">
        <img src="<%= signin.logo.src %>">
      </a>
    </div>
    <% include signin %>
    <% include signup %>
    <% include forget %>
  </div>
</div>
