<div class="kt-login__container">
  <div class="kt-login__body">
    <div class="kt-login__logo">
      <a href="#">
        <img src="<%= login6.logo.src %>">
      </a>
    </div>
    <%- login6.form %>
  </div>
</div>
