<div class="kt-grid kt-grid--ver kt-grid--root">
  <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v6 kt-login--signin" id="kt_login">
    <div
      class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
      <div class="kt-grid__item  kt-grid__item--order-tablet-and-mobile-2  kt-grid kt-grid--hor kt-login__aside">
        <div class="kt-login__wrapper">

          <% include body %>

          <div class="kt-login__account">
            <span class="kt-login__account-msg">
              Don't have an account yet ?
            </span>&nbsp;&nbsp;
            <a href="javascript:;" id="kt_login_signup" class="kt-login__account-link">Sign Up!</a>
          </div>
        </div>
      </div>

      <% include aside %>
    </div>
  </div>
</div>
