
						<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
							<div class="row">
								<div class="col-lg-3">

									<!--begin::Portlet-->
									<div class="kt-portlet" id="kt_portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon">
													<i class="flaticon-map-location"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Events
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div id="kt_calendar_external_events" class="fc-unthemed">
												<div class='fc-event fc-event-external fc-start fc-event-primary kt-margin-b-15' data-color="fc-event-primary">
													<div class="fc-title">
														<div class="fc-content">Meeting</div>
													</div>
												</div>
												<div class='fc-event fc-event-external fc-start fc-event-brand  kt-margin-b-15' data-color="fc-event-brand">
													<div class="fc-title">
														<div class="fc-content">Conference Call</div>
													</div>
												</div>
												<div class='fc-event fc-event-external fc-start fc-event-success  kt-margin-b-15' data-color="fc-event-success">
													<div class="fc-title">
														<div class="fc-content">Dinner</div>
													</div>
												</div>
												<div class='fc-event fc-event-external fc-start fc-event-warning  kt-margin-b-15' data-color="fc-event-warning">
													<div class="fc-title">
														<div class="fc-content">Product Launch</div>
													</div>
												</div>
												<div class='fc-event fc-event-external fc-start fc-event-danger  kt-margin-b-15' data-color="fc-event-danger">
													<div class="fc-title">
														<div class="fc-content">Reporting</div>
													</div>
												</div>
												<div class="kt-separator kt-separator--border-dashed kt-separator--space-md"></div>
												<div class='fc-event fc-event-external fc-start fc-event-success  kt-margin-b-15' data-color="fc-event-success">
													<div class="fc-title">
														<div class="fc-content">Project Update</div>
													</div>
												</div>
												<div class='fc-event fc-event-external fc-start fc-event-info  kt-margin-b-15' data-color="fc-event-info">
													<div class="fc-title">
														<div class="fc-content">Staff Meeting</div>
													</div>
												</div>
												<div class='fc-event fc-event-external fc-start fc-event-dark  kt-margin-b-15' data-color="fc-event-dark">
													<div class="fc-title">
														<div class="fc-content">Lunch</div>
													</div>
												</div>
												<div class="kt-separator kt-separator--border-dashed kt-separator--space-md"></div>
												<div>
													<label class="kt-checkbox kt-checkbox--brand">
														<input type="checkbox" id='kt_calendar_external_events_remove'> Remove after drop
														<span></span>
													</label>
												</div>
											</div>
										</div>
									</div>

									<!--end::Portlet-->
								</div>
								<div class="col-lg-9">

									<!--begin::Portlet-->
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon">
													<i class="flaticon-map-location"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													My Events
												</h3>
											</div>
											<div class="kt-portlet__head-toolbar">
												<div class="kt-portlet__head-group">
													<div class="btn-group">
														<button type="button" class="btn btn-elevate btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<i class="la la-plus"></i> Add Event
														</button>
														<div class="dropdown-menu dropdown-menu-right">
															<a class="dropdown-item" href="#">Action</a>
															<a class="dropdown-item" href="#">Another action</a>
															<a class="dropdown-item" href="#">Something else here</a>
															<div class="dropdown-divider"></div>
															<a class="dropdown-item" href="#">Separated link</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div id="kt_calendar"></div>
										</div>
									</div>

									<!--end::Portlet-->
								</div>
							</div>
						</div>