<div class="kt-wizard-v3__nav">
  <div class="kt-wizard-v3__nav-items">
    <a class="kt-wizard-v3__nav-item" href="#" data-ktwizard-type="step" data-ktwizard-state="current">
      <div class="kt-wizard-v3__nav-body">
        <div class="kt-wizard-v3__nav-label">
          <span>1</span> Setup Location
        </div>
        <div class="kt-wizard-v3__nav-bar"></div>
      </div>
    </a>
    <a class="kt-wizard-v3__nav-item" href="#" data-ktwizard-type="step">
      <div class="kt-wizard-v3__nav-body">
        <div class="kt-wizard-v3__nav-label">
          <span>2</span> Enter Details
        </div>
        <div class="kt-wizard-v3__nav-bar"></div>
      </div>
    </a>
    <a class="kt-wizard-v3__nav-item" href="#" data-ktwizard-type="step">
      <div class="kt-wizard-v3__nav-body">
        <div class="kt-wizard-v3__nav-label">
          <span>3</span> Select Services
        </div>
        <div class="kt-wizard-v3__nav-bar"></div>
      </div>
    </a>
    <a class="kt-wizard-v3__nav-item" href="#" data-ktwizard-type="step">
      <div class="kt-wizard-v3__nav-body">
        <div class="kt-wizard-v3__nav-label">
          <span>4</span> Delivery Address
        </div>
        <div class="kt-wizard-v3__nav-bar"></div>
      </div>
    </a>
    <a class="kt-wizard-v3__nav-item" href="#" data-ktwizard-type="step">
      <div class="kt-wizard-v3__nav-body">
        <div class="kt-wizard-v3__nav-label">
          <span>5</span> Review and Submit
        </div>
        <div class="kt-wizard-v3__nav-bar"></div>
      </div>
    </a>
  </div>
</div>
