<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />
</head>

<body>
  <div class="container">
    <% data.forEach(function(post){ %>
    <div class="well">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading"><%= post.title %></h4>
          <p class="text-right"><%= post.postBy %></p>
          <p><%= post.content %></p>
        </div>
      </div>
    </div>
  <% }) %>
  </div>
</body>

</html>
