<div class="row">
  <div class="col-md-2">
    <div class="kt-demo-icon">
      <div class="kt-demo-icon__preview">
        <i class="flaticon-email-black-circular-button"></i>
      </div>
      <div class="kt-demo-icon__class">
        flaticon-email-black-circular-button </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="kt-demo-icon">
      <div class="kt-demo-icon__preview">
        <i class="flaticon-email-black-circular-button"></i>
      </div>
      <div class="kt-demo-icon__class">
        flaticon-email-black-circular-button </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="kt-demo-icon">
      <div class="kt-demo-icon__preview">
        <i class="flaticon-email-black-circular-button"></i>
      </div>
      <div class="kt-demo-icon__class">
        flaticon-email-black-circular-button </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="kt-demo-icon">
      <div class="kt-demo-icon__preview">
        <i class="flaticon-email-black-circular-button"></i>
      </div>
      <div class="kt-demo-icon__class">
        flaticon-email-black-circular-button </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="kt-demo-icon">
      <div class="kt-demo-icon__preview">
        <i class="flaticon-email-black-circular-button"></i>
      </div>
      <div class="kt-demo-icon__class">
        flaticon-email-black-circular-button </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="kt-demo-icon">
      <div class="kt-demo-icon__preview">
        <i class="flaticon-email-black-circular-button"></i>
      </div>
      <div class="kt-demo-icon__class">
        flaticon-email-black-circular-button </div>
    </div>
  </div>
</div>
