
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													Basic Progress Bars
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">

											<!--begin::Section-->
											<div class="kt-section kt-section--last">
												<span class="kt-section__info">
													Progress components are built with two HTML elements, some CSS to set the width, and a few attributes.
												</span>
												<div class="kt-section__content">
													<div class="progress">
														<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
													<div class="kt-space-10"></div>
													<div class="progress">
														<div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
													<div class="kt-space-10"></div>
													<div class="progress">
														<div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
													<div class="kt-space-10"></div>
													<div class="progress">
														<div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
													<div class="kt-space-10"></div>
													<div class="progress">
														<div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</div>
											</div>

											<!--end::Section-->
										</div>
									</div>