<!-- begin:: Header Mobile -->
<% include headermobile %>
<!-- end:: Header Mobile -->
<div class="kt-grid kt-grid--hor kt-grid--root">
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

    <!-- begin:: Aside -->
    <% include asideMenu/asidemenu %>
    <!-- end:: Aside -->
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

      <!-- begin:: Header -->
      <% include headerMenu/headermenu %>
      <!-- end:: Header -->
      <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

        <!-- begin:: Subheader -->
        <% include subheader/subheader %>
        <!-- end:: Subheader -->

        <!-- begin:: Content -->
        <% include content/content %>
        <!-- end:: Content -->
      </div>

      <!-- begin:: Footer -->
      <% include footer/footer %>
      <!-- end:: Footer -->
    </div>
  </div>
</div>
