<div class="kt-portlet">
  <div class="kt-portlet__body  kt-portlet__body--fit">
    <div class="row row-no-padding row-col-separator-xl">
      <div class="col-md-12 col-lg-6 col-xl-3">

        <!--begin::Total Profit-->
        <% include totalprofit %>
        <!--end::Total Profit-->
      </div>
      <div class="col-md-12 col-lg-6 col-xl-3">

        <!--begin::New Feedbacks-->
        <% include newfeedbacks %>
        <!--end::New Feedbacks-->
      </div>
      <div class="col-md-12 col-lg-6 col-xl-3">

        <!--begin::New Orders-->
        <% include neworders %>
        <!--end::New Orders-->
      </div>
      <div class="col-md-12 col-lg-6 col-xl-3">

        <!--begin::New Users-->
        <% include newusers %>
        <!--end::New Users-->
      </div>
    </div>
  </div>
</div>
