<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

  <!--Begin::Section-->
  <% for (var i = 0; i < 5; i++ ) { %>
  <% include section/section %>
  <% } %>
  <!--End::Section-->

</div>
