
						<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
							<div class="alert alert-light alert-elevate" role="alert">
								<div class="alert-icon alert-icon-top"><i class="flaticon-warning kt-font-brand"></i></div>
								<div class="alert-text">
									<p>
										You can download and use all <b>amCharts</b> products for free. The only limitation of the free version is that a small link to this web
										site will be displayed in the top left corner of your charts. If you would like to use charts without this link, or you appreciate
										the software and would like to support its creators, <a class="kt-link kt-font-bold" href="http://www.amcharts.com/online-store/" target="_blank">
											please purchase a commercial license</a>
									</p>
									<p>
										<span class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill kt-badge--rounded">Exclusively for Metronic users:</span><br>
										After purchasing <b>Metronic</b> you will get a promo code for <span class="kt-badge kt-badge--brand kt-badge--inline kt-badge--pill kt-badge--rounded">15% DISCOUNT</span> for commercial license of <b>amChart</b>. To find the promo code please check the README file in the Metronic's purchased package.
									</p>
									<p>
										For more info please chech the plugin's official <a class="kt-link kt-font-bold" href="http://www.amcharts.com/demos/" target="_blank">demos & documentation</a>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">

									<!--begin::Portlet-->
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Simple Column Chart
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div id="kt_amcharts_1" style="height: 500px;"></div>
										</div>
									</div>

									<!--end::Portlet-->

									<!--begin::Portlet-->
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Column and Line mix
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div id="kt_amcharts_2" style="height: 500px;"></div>
										</div>
									</div>

									<!--end::Portlet-->

									<!--begin::Portlet-->
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Layered Column Chart
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div id="kt_amcharts_3" style="height: 500px;"></div>
										</div>
									</div>

									<!--end::Portlet-->

									<!--begin::Portlet-->
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													3D Stacked Column Chart
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div id="kt_amcharts_4" style="height: 500px;"></div>
										</div>
									</div>

									<!--end::Portlet-->

									<!--begin::Portlet-->
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Bar and line chart mix
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div id="kt_amcharts_5" style="height: 500px;"></div>
										</div>
									</div>

									<!--end::Portlet-->

									<!--begin::Portlet-->
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Date Based Data
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div id="kt_amcharts_6" style="height: 500px;"></div>
										</div>
									</div>

									<!--end::Portlet-->

									<!--begin::Portlet-->
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Line Chart with Scroll and Zoom
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div id="kt_amcharts_7" style="height: 500px;"></div>
										</div>
									</div>

									<!--end::Portlet-->

									<!--begin::Portlet-->
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Duration on Value Axis
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div id="kt_amcharts_8" style="height: 500px;"></div>
										</div>
									</div>

									<!--end::Portlet-->

									<!--begin::Portlet-->
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Radar Chart
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div id="kt_amcharts_9" style="height: 500px;"></div>
										</div>
									</div>

									<!--end::Portlet-->

									<!--begin::Portlet-->
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Polar Chart
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div id="kt_amcharts_10" style="height: 500px;"></div>
										</div>
									</div>

									<!--end::Portlet-->

									<!--begin::Portlet-->
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Polar Scatter
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div id="kt_amcharts_11" style="height: 500px;"></div>
										</div>
									</div>

									<!--end::Portlet-->

									<!--begin::Portlet-->
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Simple Pie Chart
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div id="kt_amcharts_12" style="height: 500px;"></div>
										</div>
									</div>

									<!--end::Portlet-->

									<!--begin::Portlet-->
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Animated Time-Line Pie Chart
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div id="kt_amcharts_13" style="height: 500px;"></div>
										</div>
									</div>

									<!--end::Portlet-->
								</div>
							</div>
						</div>