<div class="kt-header__topbar">

  <!--begin: Search -->

  <!--begin: Search -->
  <% include search %>
  <!--end: Search -->

  <!--end: Search -->

  <!--begin: Notifications -->
  <% include notifications %>
  <!--end: Notifications -->

  <!--begin: Quick Actions -->
  <% include quickActions/quickactions %>
  <!--end: Quick Actions -->

  <!--begin: My Cart -->
  <% include myCart/mycart %>
  <!--end: My Cart -->

  <!--begin: Quick panel toggler -->
  <% include quickpaneltoggler %>
  <!--end: Quick panel toggler -->

  <!--begin: Language bar -->
  <% include languagebar %>
  <!--end: Language bar -->

  <!--begin: User Bar -->
  <% include userBar/userbar %>
  <!--end: User Bar -->
</div>
