<div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
  <div class="kt-heading kt-heading--md">Review your Details and Submit</div>
  <div class="kt-form__section kt-form__section--first">
    <div class="kt-wizard-v2__review">
      <div class="kt-wizard-v2__review-item">
        <div class="kt-wizard-v2__review-title">
          Account Details
        </div>
        <div class="kt-wizard-v2__review-content">
          John Wick<br />
          Phone: +61412345678<br />
          Email: johnwick@reeves.com
        </div>
      </div>
      <div class="kt-wizard-v2__review-item">
        <div class="kt-wizard-v2__review-title">
          Support Location Address
        </div>
        <div class="kt-wizard-v2__review-content">
          Address Line 1<br />
          Address Line 2<br />
          Melbourne 3000, VIC, Australia
        </div>
      </div>
      <div class="kt-wizard-v2__review-item">
        <div class="kt-wizard-v2__review-title">
          Support Channels
        </div>
        <div class="kt-wizard-v2__review-content">
          Overnight Delivery with Regular Packaging<br />
          Preferred Morning (8:00AM - 11:00AM) Delivery
        </div>
      </div>
      <div class="kt-wizard-v2__review-item">
        <div class="kt-wizard-v2__review-title">
          Delivery Address
        </div>
        <div class="kt-wizard-v2__review-content">
          Address Line 1<br />
          Address Line 2<br />
          Preston 3072, VIC, Australia
        </div>
      </div>
      <div class="kt-wizard-v2__review-item">
        <div class="kt-wizard-v2__review-title">
          Payment Details
        </div>
        <div class="kt-wizard-v2__review-content">
          Card Number: xxxx xxxx xxxx 1111<br />
          Card Name: John Wick<br />
          Card Expiry: 01/21
        </div>
      </div>
    </div>
  </div>
</div>
