<div class="kt-wizard-v4__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
  <div class="kt-heading kt-heading--md">Enter your Account Details</div>
  <div class="kt-form__section kt-form__section--first">
    <div class="kt-wizard-v4__form">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" name="fname" placeholder="First Name" value="John">
        <span class="form-text text-muted">Please enter your first name.</span>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" name="lname" placeholder="Last Name" value="Wick">
        <span class="form-text text-muted">Please enter your last name.</span>
      </div>
      <div class="row">
        <div class="col-xl-6">
          <div class="form-group">
            <label>Phone</label>
            <input type="tel" class="form-control" name="phone" placeholder="phone" value="+61412345678">
            <span class="form-text text-muted">Please enter your phone number.</span>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email" value="john.wick@reeves.com">
            <span class="form-text text-muted">Please enter your email address.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
