<div class="kt-wizard-v4__content" data-ktwizard-type="step-content">
  <div class="kt-heading kt-heading--md">Review your Details and Submit</div>
  <div class="kt-form__section kt-form__section--first">
    <div class="kt-wizard-v4__review">
      <div class="kt-wizard-v4__review-item">
        <div class="kt-wizard-v4__review-title">
          Your Account Details
        </div>
        <div class="kt-wizard-v4__review-content">
          John Wick<br />
          Phone: +61412345678<br />
          Email: johnwick@reeves.com
        </div>
      </div>
      <div class="kt-wizard-v4__review-item">
        <div class="kt-wizard-v4__review-title">
          Your Address Details
        </div>
        <div class="kt-wizard-v4__review-content">
          Address Line 1<br />
          Address Line 2<br />
          Melbourne 3000, VIC, Australia
        </div>
      </div>
      <div class="kt-wizard-v4__review-item">
        <div class="kt-wizard-v4__review-title">
          Payment Details
        </div>
        <div class="kt-wizard-v4__review-content">
          Card Number: xxxx xxxx xxxx 1111<br />
          Card Name: John Wick<br />
          Card Expiry: 01/21
        </div>
      </div>
    </div>
  </div>
</div>
