<div class="kt-wizard-v4__nav">
  <div class="kt-wizard-v4__nav-items">
    <a class="kt-wizard-v4__nav-item" href="#" data-ktwizard-type="step" data-ktwizard-state="current">
      <div class="kt-wizard-v4__nav-body">
        <div class="kt-wizard-v4__nav-number">
          1
        </div>
        <div class="kt-wizard-v4__nav-label">
          <div class="kt-wizard-v4__nav-label-title">
            Add Account
          </div>
          <div class="kt-wizard-v4__nav-label-desc">
            Create Custom Account
          </div>
        </div>
      </div>
    </a>
    <a class="kt-wizard-v4__nav-item" href="#" data-ktwizard-type="step">
      <div class="kt-wizard-v4__nav-body">
        <div class="kt-wizard-v4__nav-number">
          2
        </div>
        <div class="kt-wizard-v4__nav-label">
          <div class="kt-wizard-v4__nav-label-title">
            Your Address
          </div>
          <div class="kt-wizard-v4__nav-label-desc">
            Setup Your Address
          </div>
        </div>
      </div>
    </a>
    <a class="kt-wizard-v4__nav-item" href="#" data-ktwizard-type="step">
      <div class="kt-wizard-v4__nav-body">
        <div class="kt-wizard-v4__nav-number">
          3
        </div>
        <div class="kt-wizard-v4__nav-label">
          <div class="kt-wizard-v4__nav-label-title">
            Make Payment
          </div>
          <div class="kt-wizard-v4__nav-label-desc">
            Add Payment Options
          </div>
        </div>
      </div>
    </a>
    <a class="kt-wizard-v4__nav-item" href="#" data-ktwizard-type="step">
      <div class="kt-wizard-v4__nav-body">
        <div class="kt-wizard-v4__nav-number">
          4
        </div>
        <div class="kt-wizard-v4__nav-label">
          <div class="kt-wizard-v4__nav-label-title">
            Completed
          </div>
          <div class="kt-wizard-v4__nav-label-desc">
            Review and Submit
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
