<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
  <div class="row">
    <div class="col-lg-6">

      <!--begin::Portlet-->
      <% for (var i = 0; i < 5; i++ ) { %>
      <% include portlet/col %>
      <% } %>
      <!--end::Portlet-->
    </div>
    <div class="col-lg-6">

      <!--begin::Portlet-->
      <% for (var i = 0; i < 5; i++ ) { %>
      <% include portlet/col %>
      <% } %>
      <!--end::Portlet-->
    </div>
  </div>
</div>
