<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon kt-hidden">
        <i class="la la-gear"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        jQuery Idle Timer
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="kt-portlet__content">
      The idle timer is built on jQuery and provides two events: <code>idle.idleTimer</code> and
      <code>active.idleTimer</code>,
      which fire when the user's idle state has changed.
      When you move your mouse over the page or start typing, you're considered <code>active</code>.
      On this page we have two idle timers. One for the entire document. Another for the text area on the right (or
      bottom if your on mobile).
    </div>
  </div>
</div>
