<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon kt-hidden">
        <i class="la la-gear"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Document <small><span id="docTimeout"></span> second timeout</small>
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="btn-group kt-margin-b-10">
      <a href="javascript:;" id="btPause" class="btn btn-secondary">Pause</a>
      <a href="javascript:;" id="btResume" class="btn btn-secondary">Resume</a>
      <a href="javascript:;" id="btElapsed" class="btn btn-secondary">Elapsed</a>
      <a href="javascript:;" id="btInit" class="btn btn-secondary">Init</a>
      <a href="javascript:;" id="btDestroy" class="btn btn-secondary">Destroy</a>
    </div>
    <textarea rows="10" cols="30" id="docStatus" class="form-control"></textarea><br />
  </div>
</div>
