
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Square Buttons
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="kt-section">
												<div class="kt-section__info">Default options:</div>
												<div class="kt-section__content kt-section__content--solid">
													<button type="button" class="btn btn-primary btn-square">Primary</button>&nbsp;
													<button type="button" class="btn btn-brand btn-square">Solid</button>&nbsp;
													<button type="button" class="btn btn-secondary btn-square">Secondary</button>&nbsp;
													<button type="button" class="btn btn-outline-brand btn-square">Outline</button>&nbsp;
													<button type="button" class="btn btn-outline-hover-danger btn-square">Hover Outline</button>&nbsp;
													<button type="button" class="btn btn-light btn-hover-brand btn-square">Hover Solid</button>
												</div>
											</div>
											<div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>
											<div class="kt-section">
												<div class="kt-section__info">Elevation options:</div>
												<div class="kt-section__content kt-section__content--solid">
													<button type="button" class="btn btn-light btn-elevate-hover btn-square">Hover Flat</button>&nbsp;
													<button type="button" class="btn btn-brand btn-elevate btn-square">Solid</button>&nbsp;
													<button type="button" class="btn btn-secondary btn-elevate btn-square">Secondary</button>&nbsp;
													<button type="button" class="btn btn-outline-brand btn-elevate btn-square">Outline</button>&nbsp;
													<button type="button" class="btn btn-outline-hover-info btn-elevate btn-square">Hover Outline</button>&nbsp;
													<button type="button" class="btn btn-light btn-elevate btn-square">Raise Elevation</button>
												</div>
											</div>
										</div>
									</div>