
						<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
							<div class="row">
								<div class="col-xl-6">

									<!--begin::Portlet-->
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													Basic User Pics
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="kt-section">

												<!--begin::Section-->
												<div class="kt-section__info">Default user pics:</div>
												<div class="kt-section__content d-flex flex-wrap kt-section__content--solid--">
													<span class="kt-userpic kt-margin-r-5 kt-margin-t-5">
														<img src="/assets/media/users/300_19.jpg" alt="image">
													</span>
													<span class="kt-userpic kt-margin-r-5 kt-margin-t-5">
														<img src="/assets/media/users/100_13.jpg" alt="image">
													</span>
													<span class="kt-userpic kt-margin-r-5 kt-margin-t-5">
														<img src="/assets/media/users/100_11.jpg" alt="image">
													</span>
													<span class="kt-userpic kt-margin-r-5 kt-margin-t-5">
														<img src="/assets/media/users/100_6.jpg" alt="image">
													</span>
													<span class="kt-userpic kt-margin-r-5 kt-margin-t-5">
														<img src="/assets/media/users/100_7.jpg" alt="image">
													</span>
													<span class="kt-userpic kt-margin-r-5 kt-margin-t-5">
														<img src="/assets/media/users/100_3.jpg" alt="image">
													</span>
													<span class="kt-userpic kt-margin-t-5">
														<img src="/assets/media/users/100_10.jpg" alt="image">
													</span>
												</div>

												<!--end::Section-->
												<div class="kt-separator kt-separator--space-lg kt-separator--border-dashed"></div>

												<!--begin::Section-->
												<div class="kt-section__info">Alternative user pics:</div>
												<div class="kt-section__content d-flex flex-wrap kt-section__content--solid--">
													<span class="kt-userpic kt-userpic--danger kt-margin-r-5 kt-margin-t-5">
														<span>JD</span>
													</span>
													<span class="kt-userpic kt-userpic--info kt-margin-r-5 kt-margin-t-5">
														<span>SA</span>
													</span>
													<span class="kt-userpic kt-userpic--success kt-margin-r-5 kt-margin-t-5">
														<span>ER</span>
													</span>
													<span class="kt-userpic kt-userpic--warning kt-margin-r-5 kt-margin-t-5">
														<span>BD</span>
													</span>
													<span class="kt-userpic kt-userpic--danger kt-margin-r-5 kt-margin-t-5">
														<span>CD</span>
													</span>
													<span class="kt-userpic kt-userpic--brand kt-margin-r-5 kt-margin-t-5">
														<span>NG</span>
													</span>
													<span class="kt-userpic kt-userpic--success kt-margin-r-5 kt-margin-t-5">
														<span>MR</span>
													</span>
												</div>

												<!--end::Section-->
												<div class="kt-separator kt-separator--space-lg kt-separator--border-dashed"></div>

												<!--begin::Section-->
												<div class="kt-section__info">Circle user pics:</div>
												<div class="kt-section__content d-flex flex-wrap kt-section__content--solid--">
													<span class="kt-userpic kt-userpic--circle kt-margin-r-5 kt-margin-t-5">
														<img src="/assets/media/users/100_12.jpg" alt="image">
													</span>
													<span class="kt-userpic kt-userpic--circle kt-userpic--danger kt-margin-r-5 kt-margin-t-5">
														<span>TR</span>
													</span>
													<span class="kt-userpic kt-userpic--circle kt-margin-r-5 kt-margin-t-5">
														<img src="/assets/media/users/100_8.jpg" alt="image">
													</span>
													<span class="kt-userpic kt-userpic--circle kt-userpic--warning kt-margin-r-5 kt-margin-t-5">
														<span>LP</span>
													</span>
													<span class="kt-userpic kt-userpic--circle kt-margin-r-5 kt-margin-t-5">
														<img src="/assets/media/users/100_3.jpg" alt="image">
													</span>
													<span class="kt-userpic kt-userpic--circle kt-userpic--success kt-margin-r-5 kt-margin-t-5">
														<span>BY</span>
													</span>
													<span class="kt-userpic kt-userpic--circle kt-margin-t-5">
														<img src="/assets/media/users/100_13.jpg" alt="image">
													</span>
												</div>

												<!--end::Section-->
												<div class="kt-separator kt-separator--space-lg kt-separator--border-dashed"></div>
												<div class="kt-section__info">linkable user pics:</div>
												<div class="kt-section__content d-flex flex-wrap kt-section__content--solid--">
													<a href="#" class="kt-userpic kt-margin-r-5 kt-margin-t-5" data-toggle="kt-tooltip" data-placement="right" title="Click here for more info" data-original-title="Tooltip title">
														<img src="/assets/media/users/100_2.jpg" alt="image">
													</a>
													<a href="#" class="kt-userpic kt-userpic--circle kt-margin-r-5 kt-margin-t-5" data-toggle="kt-tooltip" data-placement="right" title="Click here for more info" data-original-title="Tooltip title">
														<img src="/assets/media/users/100_5.jpg" alt="image">
													</a>
													<a href="#" class="kt-userpic kt-margin-r-5 kt-margin-t-5" data-toggle="kt-tooltip" data-placement="right" title="Click here for more info" data-original-title="Tooltip title">
														<img src="/assets/media/users/100_11.jpg" alt="image">
													</a>
													<a href="#" class="kt-userpic kt-userpic--circle kt-margin-r-5 kt-margin-t-5" data-toggle="kt-tooltip" data-placement="right" title="Click here for more info" data-original-title="Tooltip title">
														<img src="/assets/media/users/300_8.jpg" alt="image">
													</a>
													<a href="#" class="kt-userpic kt-margin-r-5 kt-margin-t-5" data-toggle="kt-tooltip" data-placement="right" title="Click here for more info" data-original-title="Tooltip title">
														<img src="/assets/media/users/100_7.jpg" alt="image">
													</a>
													<a href="#" class="kt-userpic kt-userpic--circle kt-margin-r-5 kt-margin-t-5" data-toggle="kt-tooltip" data-placement="right" title="Click here for more info" data-original-title="Tooltip title">
														<img src="/assets/media/users/300_24.jpg" alt="image">
													</a>
													<a href="#" class="kt-userpic kt-margin-t-5" data-toggle="kt-tooltip" data-placement="right" title="Click here for more info" data-original-title="Tooltip title">
														<img src="/assets/media/users/300_20.jpg" alt="image">
													</a>
												</div>
												<div class="kt-separator kt-separator--space-lg kt-separator--border-dashed"></div>

												<!--begin::Section-->
												<div class="kt-section__info">Background user pics:</div>
												<div class="kt-section__content d-flex flex-wrap kt-section__content--solid--">
													<a href="#" class="kt-userpic kt-margin-r-5 kt-margin-t-5" style="min-height: 50px;width: 50px;  background-image: url(/assets/media/blog/blog5.jpg)"></a>
													<a href="#" class="kt-userpic kt-userpic--circle kt-margin-r-5 kt-margin-t-5" style="min-height: 50px;width: 50px;  background-image: url(/assets/media/blog/blog4.jpg)"></a>
													<a href="#" class="kt-userpic kt-margin-r-5 kt-margin-t-5" style="min-height: 50px;width: 50px; background-image: url(/assets/media//products/product4.jpg)"></a>
													<a href="#" class="kt-userpic kt-userpic--circle kt-margin-r-5 kt-margin-t-5" style="min-height: 50px;width: 50px; background-image: url(/assets/media/blog/blog3.jpg)"></a>
													<a href="#" class="kt-userpic kt-margin-r-5 kt-margin-t-5" style="min-height: 50px;width: 50px; background-image: url(/assets/media/blog/blog2.jpg)"> </a>
													<a href="#" class="kt-userpic kt-userpic--circle kt-margin-r-5 kt-margin-t-5" style="min-height: 50px;width: 50px;  background-image: url(/assets/media//products/product6.jpg)"></a>
													<a href="#" class="kt-userpic kt-margin-t-5" style="min-height: 50px;width: 50px; background-image: url(/assets/media/blog/blog1.jpg)"></a>
												</div>

												<!--end::Section-->
												<div class="kt-separator kt-separator--space-lg kt-separator--border-dashed"></div>

												<!--begin::Section-->
												<div class="kt-section__info">Sizing options(sm, lg, xl):</div>
												<div class="kt-section__content d-flex flex-wrap kt-section__content--solid--">
													<span class="kt-userpic kt-userpic--sm kt-margin-r-5 kt-margin-t-5">
														<img src="/assets/media/users/300_16.jpg" alt="image">
													</span>
													<span class="kt-userpic kt-userpic--sm kt-userpic--success kt-userpic--circle kt-margin-r-5 kt-margin-t-5">
														<span>MS</span>
													</span>
													<span class="kt-userpic kt-userpic--sm kt-margin-r-5 kt-margin-t-5">
														<img src="/assets/media/users/100_9.jpg" alt="image">
													</span>
													<span class="kt-userpic kt-userpic--sm kt-userpic--circle kt-userpic--danger kt-margin-r-5 kt-margin-t-5">
														<span>AC</span>
													</span>
													<span class="kt-userpic kt-userpic--sm kt-margin-r-5 kt-margin-t-5">
														<img src="/assets/media/users/300_17.jpg" alt="image">
													</span>
													<span class="kt-userpic kt-userpic--sm kt-userpic--circle kt-userpic--warning kt-margin-r-5 kt-margin-t-5">
														<span>KL</span>
													</span>
													<span class="kt-userpic kt-userpic--sm kt-margin-r-5 kt-margin-t-5">
														<img src="/assets/media/users/100_5.jpg" alt="image">
													</span>
													<span class="kt-userpic kt-userpic--sm kt-userpic--circle kt-userpic--brand kt-margin-r-5 kt-margin-t-5">
														<span>FR</span>
													</span>
													<span class="kt-userpic kt-userpic--sm  kt-margin-t-5">
														<img src="/assets/media/users/300_19.jpg" alt="image">
													</span>
												</div>

												<!--end::Section-->

												<!--begin::Section-->
												<div class="kt-section__content d-flex flex-wrap kt-margin-t-30 kt-section__content--solid--">
													<span class="kt-userpic kt-userpic--lg kt-userpic--brand kt-margin-r-5 kt-margin-t-5">
														<span>BT</span>
													</span>
													<span class="kt-userpic kt-userpic--lg kt-userpic--circle kt-margin-r-5 kt-margin-t-5">
														<img src="/assets/media/users/100_12.jpg" alt="image">
													</span>
													<span class="kt-userpic kt-userpic--lg  kt-userpic--danger kt-margin-r-5 kt-margin-t-5">
														<span>PY</span>
													</span>
													<span class="kt-userpic kt-userpic--lg kt-userpic--circle  kt-margin-r-5 kt-margin-t-5">
														<img src="/assets/media/users/100_8.jpg" alt="image">
													</span>
													<span class="kt-userpic kt-userpic--lg kt-userpic--warning kt-margin-r-5 kt-margin-t-5">
														<span>JU</span>
													</span>
													<span class="kt-userpic kt-userpic--lg kt-userpic--circle kt-margin-r-5 kt-margin-t-5">
														<img src="/assets/media/users/100_3.jpg" alt="image">
													</span>
													<span class="kt-userpic kt-userpic--lg  kt-userpic--success kt-margin-r-5 kt-margin-t-5">
														<span>GF</span>
													</span>
													<span class="kt-userpic kt-userpic--lg kt-userpic--circle kt-margin-t-5">
														<img src="/assets/media/users/100_13.jpg" alt="image">
													</span>
												</div>

												<!--end::Section-->

												<!--begin::Section-->
												<div class="kt-section__content d-flex flex-wrap kt-margin-t-30 kt-section__content--solid--">
													<span class="kt-userpic kt-userpic--xl kt-userpic--circle kt-userpic--danger kt-margin-r-5 kt-margin-t-5">
														<span>BT</span>
													</span>
													<span class="kt-userpic kt-userpic--xl  kt-margin-r-5 kt-margin-t-5">
														<img src="/assets/media/users/300_19.jpg" alt="image">
													</span>
													<span class="kt-userpic kt-userpic--xl kt-userpic--circle kt-userpic--warning kt-margin-r-5 kt-margin-t-5">
														<span>PY</span>
													</span>
													<span class="kt-userpic kt-userpic--xl kt-margin-r-5 kt-margin-t-5">
														<img src="/assets/media/users/300_9.jpg" alt="image">
													</span>
													<span class="kt-userpic kt-userpic--xl kt-userpic--circle kt-userpic--brand kt-margin-r-5 kt-margin-t-5">
														<span>JU</span>
													</span>
													<span class="kt-userpic kt-userpic--xl kt-margin-r-5 kt-margin-t-5">
														<img src="/assets/media/users/300_10.jpg" alt="image">
													</span>
													<span class="kt-userpic kt-userpic--xl kt-userpic--circle kt-userpic--success kt-margin-r-5 kt-margin-t-5">
														<span>GF</span>
													</span>
												</div>

												<!--end::Section-->
											</div>
										</div>
									</div>

									<!--end::Portlet-->
								</div>
								<div class="col-xl-6">

									<!--begin::Portlet-->
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													Basic searchbar
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="kt-section">
												<div class="kt-section__info">Default searchbars:</div>
												<div class="kt-section__content kt-section__content--solid--">
													<div class="kt-searchbar">
														<div class="input-group">
															<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
																		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																			<rect id="bound" x="0" y="0" width="24" height="24" />
																			<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" id="Path-2" fill="#000000" fill-rule="nonzero" opacity="0.3" />
																			<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" id="Path" fill="#000000" fill-rule="nonzero" />
																		</g>
																	</svg></span></div>
															<input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1">
														</div>
													</div>
												</div>
												<div class="kt-section__content kt-margin-t-30 kt-section__content--solid--">
													<div class="kt-searchbar">
														<div class="input-group">
															<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="flaticon-search"></i></span></div>
															<input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1">
														</div>
													</div>
												</div>
												<div class="kt-separator kt-separator--space-lg kt-separator--border-dashed"></div>
												<div class="kt-section__info">Searchbar right icon:</div>
												<div class="kt-searchbar">
													<div class="kt-input-icon kt-input-icon--right">
														<input type="text" class="form-control" placeholder="Search" id="generalSearch">
														<span class="kt-input-icon__icon kt-input-icon__icon--right">
															<span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
																	<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																		<rect id="bound" x="0" y="0" width="24" height="24" />
																		<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" id="Path-2" fill="#000000" fill-rule="nonzero" opacity="0.3" />
																		<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" id="Path" fill="#000000" fill-rule="nonzero" />
																	</g>
																</svg></span>
														</span>
													</div>
												</div>
												<div class="kt-separator kt-separator--space-lg kt-separator--border-dashed"></div>
												<div class="kt-section__info">Sizing options(sm, lg):</div>
												<div class="kt-section__content kt-section__content--solid--">
													<div class="kt-searchbar">
														<div class="input-group input-group-sm">
															<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
																		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																			<rect id="bound" x="0" y="0" width="24" height="24" />
																			<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" id="Path-2" fill="#000000" fill-rule="nonzero" opacity="0.3" />
																			<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" id="Path" fill="#000000" fill-rule="nonzero" />
																		</g>
																	</svg></span></div>
															<input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1">
														</div>
													</div>
												</div>
												<div class="kt-section__content kt-margin-t-30  kt-section__content--solid--">
													<div class="kt-searchbar">
														<div class="input-group input-group-lg">
															<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
																		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																			<rect id="bound" x="0" y="0" width="24" height="24" />
																			<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" id="Path-2" fill="#000000" fill-rule="nonzero" opacity="0.3" />
																			<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" id="Path" fill="#000000" fill-rule="nonzero" />
																		</g>
																	</svg></span></div>
															<input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!--end::Portlet-->
								</div>
							</div>
						</div>