<div class="kt-portlet kt-portlet--height-fluid">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        Earnings
      </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="dropdown dropdown-inline">
        <button type="button" class="btn btn-clean btn-sm btn-icon-md btn-icon" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="flaticon-more-1"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <ul class="kt-nav">
            <li class="kt-nav__item">
              <a href="#" class="kt-nav__link">
                <i class="kt-nav__link-icon flaticon2-line-chart"></i>
                <span class="kt-nav__link-text">Reports</span>
              </a>
            </li>
            <li class="kt-nav__item">
              <a href="#" class="kt-nav__link">
                <i class="kt-nav__link-icon flaticon2-send"></i>
                <span class="kt-nav__link-text">Messages</span>
              </a>
            </li>
            <li class="kt-nav__item">
              <a href="#" class="kt-nav__link">
                <i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
                <span class="kt-nav__link-text">Charts</span>
              </a>
            </li>
            <li class="kt-nav__item">
              <a href="#" class="kt-nav__link">
                <i class="kt-nav__link-icon flaticon2-avatar"></i>
                <span class="kt-nav__link-text">Members</span>
              </a>
            </li>
            <li class="kt-nav__item">
              <a href="#" class="kt-nav__link">
                <i class="kt-nav__link-icon flaticon2-settings"></i>
                <span class="kt-nav__link-text">Settings</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body kt-portlet__body--fit">
    <div class="kt-widget30" id="kt_earnings_widget">
      <div class="kt-widget30__head">
        <div class="owl-carousel">
          <div class="carousel"><span>KeenThemes</span><span>Admin Themes</span></div>
          <div class="carousel"><span>Loopers</span><span>WP Experts</span></div>
          <div class="carousel"><span>Incontico</span><span>Social Networks</span></div>
        </div>
      </div>
      <div class="kt-widget30__body">
        <div class="owl-carousel">
          <div class="carousel">
            <div class="kt-widget30__items">
              <div class="kt-widget30__item">
                <div class="kt-widget30__pic">
                  <img src="./assets/media/users/100_4.jpg" title="">
                </div>
                <div class="kt-widget30__info">
                  <a href="#">Amy Black</a>
                  <span>A Programming Language</span>
                </div>
                <span class="kt-widget30__stats">
                  <span class="btn btn-label-brand btn-bold btn-sm">+$381</span>
                </span>
              </div>
              <div class="kt-widget30__item">
                <div class="kt-widget30__pic">
                  <img src="./assets/media/users/100_3.jpg" title="">
                </div>
                <div class="kt-widget30__info">
                  <a href="#">Mike Green</a>
                  <span>Programming Language Definition</span>
                </div>
                <span class="kt-widget30__stats">
                  <span class="btn btn-label-success btn-bold btn-sm">+$17</span>
                </span>
              </div>
              <div class="kt-widget30__item">
                <div class="kt-widget30__pic">
                  <img src="./assets/media/users/100_9.jpg" title="">
                </div>
                <div class="kt-widget30__info">
                  <a href="#">Jade Blue</a>
                  <span>Let's Fly Fast Again</span>
                </div>
                <span class="kt-widget30__stats">
                  <span class="btn btn-label-warning btn-bold btn-sm">+$200</span>
                </span>
              </div>
              <div class="kt-widget30__item">
                <div class="kt-widget30__pic">
                  <img src="./assets/media/users/100_7.jpg" title="">
                </div>
                <div class="kt-widget30__info">
                  <a href="#">Jimmy Grey</a>
                  <span>Good Coffee & Snacks</span>
                </div>
                <span class="kt-widget30__stats">
                  <span class="btn btn-label-danger btn-bold btn-sm">-$290</span>
                </span>
              </div>
            </div>
          </div>
          <div class="carousel">
            <div class="kt-widget30__items">
              <div class="kt-widget30__item">
                <div class="kt-widget30__pic">
                  <img src="./assets/media/users/100_3.jpg" title="">
                </div>
                <div class="kt-widget30__info">
                  <a href="#">Mike Green</a>
                  <span>Programming Computers in Everyday</span>
                </div>
                <div class="kt-widget30__stats">
                  <span class="btn btn-label-brand btn-bold btn-sm">+$17</span>
                </div>
              </div>
              <div class="kt-widget30__item">
                <div class="kt-widget30__pic">
                  <img src="./assets/media/users/100_4.jpg" title="">
                </div>
                <div class="kt-widget30__info">
                  <a href="#">Amy Black</a>
                  <span>A Programming Language</span>
                </div>
                <div class="kt-widget30__stats">
                  <span class="btn btn-label-warning btn-bold btn-sm">+$381</span>
                </div>
              </div>
              <div class="kt-widget30__item">
                <div class="kt-widget30__pic">
                  <img src="./assets/media/users/100_9.jpg" title="">
                </div>
                <div class="kt-widget30__info">
                  <a href="#">Jimmy Grey</a>
                  <span>Let's Fly Fast Again</span>
                </div>
                <div class="kt-widget30__stats">
                  <span class="btn btn-label-success btn-bold btn-sm">-$290</span>
                </div>
              </div>
              <div class="kt-widget30__item">
                <div class="kt-widget30__pic">
                  <img src="./assets/media/users/300_7.jpg" title="">
                </div>
                <div class="kt-widget30__info">
                  <a href="#">Jade Blue</a>
                  <span>Good Coffee & Snacks</span>
                </div>
                <div class="kt-widget30__stats">
                  <span class="btn btn-label-danger btn-bold btn-sm">+$200</span>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel">
            <div class="kt-widget30__items">
              <div class="kt-widget30__item">
                <div class="kt-widget30__pic">
                  <img src="./assets/media/users/100_7.jpg" title="">
                </div>
                <div class="kt-widget30__info">
                  <a href="#">Jade Blue</a>
                  <span>Good Coffee & Snacks</span>
                </div>
                <div class="kt-widget30__stats">
                  <span class="btn btn-label-success btn-bold btn-sm">+$200</span>
                </div>
              </div>
              <div class="kt-widget30__item">
                <div class="kt-widget30__pic">
                  <img src="./assets/media/users/100_9.jpg" title="">
                </div>
                <div class="kt-widget30__info">
                  <a href="#">Jimmy Grey</a>
                  <span>Programming Language Definition</span>
                </div>
                <div class="kt-widget30__stats">
                  <span class="btn btn-label-brand btn-bold btn-sm">-$290</span>
                </div>
              </div>
              <div class="kt-widget30__item">
                <div class="kt-widget30__pic">
                  <img src="./assets/media/users/100_4.jpg" title="">
                </div>
                <div class="kt-widget30__info">
                  <a href="#">Amy Black</a>
                  <span>Let's Fly Fast Again</span>
                </div>
                <div class="kt-widget30__stats">
                  <span class="btn btn-label-danger btn-bold btn-sm">+$381</span>
                </div>
              </div>
              <div class="kt-widget30__item">
                <div class="kt-widget30__pic">
                  <img src="./assets/media/users/300_3.jpg" title="">
                </div>
                <div class="kt-widget30__info">
                  <a href="#">Mike Green</a>
                  <span>A Programming Language</span>
                </div>
                <div class="kt-widget30__stats">
                  <span class="btn btn-label-warning btn-bold btn-sm">+$17</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
