<div class="row">
  <div class="col-xl-4">

    <!--begin:: Earnings-->
    <% include earning %>
    <!--end:: Earnings-->
  </div>
  <div class="col-xl-4">

    <!--begin:: Widgets/Blog-->
    <% include blog %>
    <!--end:: Widgets/Blog-->
  </div>
  <div class="col-xl-4">

    <!--begin:: Widgets/Announcements 2-->
    <% include announcement %>
    <!--end:: Widgets/Announcements 2-->
  </div>
</div>
