<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
  <div class="row">
    <div class="col">
      <div class="alert alert-light alert-elevate fade show" role="alert">
        <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
        <div class="alert-text">
          Replace Font Awesome with modern line icons with a single line of code.
          <br>
          For more info please visit the plugin's <a class="kt-link kt-font-bold" href="https://icons8.com/line-awesome"
            target="_blank">Demo Page</a>.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <!--begin::Portlet-->
      <% include portlet/portlet %>

      <!--end::Portlet-->
    </div>
  </div>
</div>
