<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

  <!-- begin:: Page -->
  <% include page/page %>

  <!-- end:: Page -->

  <!-- begin::Quick Panel -->
  <% include quickPanel/quickpanel %>

  <!-- end::Quick Panel -->

  <!-- begin::Scrolltop -->
  <div id="kt_scrolltop" class="kt-scrolltop">
    <i class="fa fa-arrow-up"></i>
  </div>

  <!-- end::Scrolltop -->

  <!-- begin::Sticky Toolbar -->
  <% include stickyToolbar/stickytoolbar %>

  <!-- end::Sticky Toolbar -->

  <!-- begin::Demo Panel -->
  <% include demoPanel/demopanel %>

  <!-- end::Demo Panel -->

  <!--Begin:: Chat-->
  <% include chat/chat %>

  <!--ENd:: Chat-->

  <!-- begin::Global Config(global config for global JS sciprts) -->
  <% include globalConfig/globalconfig %>
  <!-- end::Global Config -->

  <!--begin:: Global Mandatory Vendors -->
  <% include globalMandatoryVendors/globalmandatoryvendors2 %>

  <!--end:: Global Mandatory Vendors -->

  <!--begin:: Global Optional Vendors -->
  <% include globalOptionalVendors/globaloptionalvendors2 %>

  <!--end:: Global Optional Vendors -->

  <!--begin::Global Theme Bundle(used by all pages) -->
  <script src="/assets/js/demo1/scripts.bundle.js" type="text/javascript"></script>

  <!--end::Global Theme Bundle -->
</body>
