
						<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
							<div class="row">
								<div class="col-lg-6">

									<!--begin::Portlet-->
									<% include portlet1 %>
									<!--end::Portlet-->

									<!--begin::Portlet-->
									<% include portlet1 %>
									<!--end::Portlet-->

									<!--begin::Portlet-->
									<% include portlet1 %>
									<!--end::Portlet-->
								</div>
								<div class="col-lg-6">

									<!--begin::Portlet-->
									<% include portlet2 %>
									<!--end::Portlet-->

									<!--begin::Portlet-->
									<% include portlet2 %>
									<!--end::Portlet-->
								</div>
							</div>
						</div>