
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													Notifications v1
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="kt-notification kt-notification--fit">
												<a href="#" class="kt-notification__item">
													<div class="kt-notification__item-icon">
														<i class="flaticon2-line-chart kt-font-success"></i>
													</div>
													<div class="kt-notification__item-details">
														<div class="kt-notification__item-title">
															New order has been received
														</div>
														<div class="kt-notification__item-time">
															2 hrs ago
														</div>
													</div>
												</a>
												<a href="#" class="kt-notification__item">
													<div class="kt-notification__item-icon">
														<i class="flaticon2-box-1 kt-font-brand"></i>
													</div>
													<div class="kt-notification__item-details">
														<div class="kt-notification__item-title">
															New customer is registered
														</div>
														<div class="kt-notification__item-time">
															3 hrs ago
														</div>
													</div>
												</a>
												<a href="#" class="kt-notification__item">
													<div class="kt-notification__item-icon">
														<i class="flaticon2-chart2 kt-font-danger"></i>
													</div>
													<div class="kt-notification__item-details">
														<div class="kt-notification__item-title">
															Application has been approved
														</div>
														<div class="kt-notification__item-time">
															3 hrs ago
														</div>
													</div>
												</a>
												<a href="#" class="kt-notification__item">
													<div class="kt-notification__item-icon">
														<i class="flaticon2-image-file kt-font-warning"></i>
													</div>
													<div class="kt-notification__item-details">
														<div class="kt-notification__item-title">
															New file has been uploaded
														</div>
														<div class="kt-notification__item-time">
															5 hrs ago
														</div>
													</div>
												</a>
												<a href="#" class="kt-notification__item">
													<div class="kt-notification__item-icon">
														<i class="flaticon2-bar-chart kt-font-info"></i>
													</div>
													<div class="kt-notification__item-details">
														<div class="kt-notification__item-title">
															New user feedback received
														</div>
														<div class="kt-notification__item-time">
															8 hrs ago
														</div>
													</div>
												</a>
											</div>
											<div class="kt-separator kt-separator--space-lg kt-separator--border-dashed"></div>

											<!--begin::Dropdown-->
											<div class="dropdown">
												<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
													Dropdown example
												</a>
												<div class="dropdown-menu dropdown-menu-fit dropdown-menu-xl" aria-labelledby="dropdownMenuButton">
													<div class="kt-notification">
														<a href="#" class="kt-notification__item">
															<div class="kt-notification__item-icon">
																<i class="flaticon2-line-chart kt-font-success"></i>
															</div>
															<div class="kt-notification__item-details">
																<div class="kt-notification__item-title">
																	New order has been received
																</div>
																<div class="kt-notification__item-time">
																	2 hrs ago
																</div>
															</div>
														</a>
														<a href="#" class="kt-notification__item">
															<div class="kt-notification__item-icon">
																<i class="flaticon2-box-1 kt-font-brand"></i>
															</div>
															<div class="kt-notification__item-details">
																<div class="kt-notification__item-title">
																	New customer is registered
																</div>
																<div class="kt-notification__item-time">
																	3 hrs ago
																</div>
															</div>
														</a>
														<a href="#" class="kt-notification__item">
															<div class="kt-notification__item-icon">
																<i class="flaticon2-chart2 kt-font-danger"></i>
															</div>
															<div class="kt-notification__item-details">
																<div class="kt-notification__item-title">
																	Application has been approved
																</div>
																<div class="kt-notification__item-time">
																	3 hrs ago
																</div>
															</div>
														</a>
														<a href="#" class="kt-notification__item">
															<div class="kt-notification__item-icon">
																<i class="flaticon2-image-file kt-font-warning"></i>
															</div>
															<div class="kt-notification__item-details">
																<div class="kt-notification__item-title">
																	New file has been uploaded
																</div>
																<div class="kt-notification__item-time">
																	5 hrs ago
																</div>
															</div>
														</a>
														<a href="#" class="kt-notification__item">
															<div class="kt-notification__item-icon">
																<i class="flaticon2-bar-chart kt-font-info"></i>
															</div>
															<div class="kt-notification__item-details">
																<div class="kt-notification__item-title">
																	New user feedback received
																</div>
																<div class="kt-notification__item-time">
																	8 hrs ago
																</div>
															</div>
														</a>
													</div>
												</div>
											</div>

											<!--end::Dropdown-->
										</div>
									</div>