
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													Basic Spinners
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="kt-section">
												<div class="kt-section__info">Color and size options:</div>
												<div class="kt-section__content kt-section__content--solid--">
													<div class="row">
														<div class="col-sm">
															<div class="kt-spinner kt-spinner--sm kt-spinner--brand"></div>
														</div>
														<div class="col-sm">
															<div class="kt-spinner kt-spinner--sm kt-spinner--success"></div>
														</div>
														<div class="col-sm">
															<div class="kt-spinner kt-spinner--md kt-spinner--info"></div>
														</div>
														<div class="col-sm">
															<div class="kt-spinner kt-spinner--md kt-spinner--danger"></div>
														</div>
														<div class="col-sm">
															<div class="kt-spinner kt-spinner--lg kt-spinner--dark"></div>
														</div>
														<div class="col-sm">
															<div class="kt-spinner kt-spinner--lg kt-spinner--warning"></div>
														</div>
													</div>
												</div>
												<div class="kt-separator kt-separator--space-lg kt-separator--border-dashed"></div>
												<div class="kt-section__info">Using with buttons:</div>
												<div class="kt-section__content kt-section__content--solid--">
													<button class="btn btn-outline-success kt-spinner kt-spinner--sm kt-spinner--danger">Button</button>&nbsp;
													<button class="btn btn-brand kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light">Button</button>&nbsp;
													<button class="btn btn-outline-brand kt-spinner kt-spinner--md kt-spinner--danger">Button</button>&nbsp;
													<div class="kt-space-20"></div>
													<button class="btn btn-primary kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light">Button</button>&nbsp;
													<button class="btn btn-outline-dark kt-spinner kt-spinner--lg kt-spinner--danger">Button</button>&nbsp;
													<button class="btn btn-danger kt-spinner kt-spinner--right kt-spinner--lg kt-spinner--light">Button</button>&nbsp;
													<div class="kt-space-20"></div>
													<button class="btn btn-outline-success btn-icon"><i class="la la-user"></i></button>&nbsp;
													<button class="btn btn-brand btn-icon kt-spinner kt-spinner--center kt-spinner--sm kt-spinner--light"></button>&nbsp;
													<button class="btn btn-success btn-icon btn-circle kt-spinner kt-spinner--center kt-spinner--sm kt-spinner--light"></button>&nbsp;
													<button class="btn btn-outline-dark btn-icon kt-spinner kt-spinner--center kt-spinner--sm kt-spinner--danger"></button>&nbsp;
												</div>
												<div class="kt-separator kt-separator--space-lg kt-separator--border-dashed"></div>
												<div class="kt-section__info">Using with form controls:</div>
												<div class="kt-section__content kt-section__content--solid--">
													<div class="kt-spinner kt-spinner--sm kt-spinner--success kt-spinner--right kt-spinner--input">
														<input type="text" class="form-control" />
													</div>
													<div class="kt-space-10"></div>
													<div class="kt-spinner kt-spinner--sm kt-spinner--danger kt-spinner--left kt-spinner--input">
														<input type="text" class="form-control" />
													</div>
												</div>
											</div>
										</div>
									</div>