
						<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
							<div class="row">
								<div class="col">
									<div class="alert alert-light alert-elevate fade show" role="alert">
										<div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
										<div class="alert-text">
											Metronic extends <code>Bootstrap Button Group</code> component with a variety of options to provide uniquely looking Button Group component that matches the Metronic's design standards.
											<br>
											For more info please visit the plugin's <a class="kt-link kt-font-bold" href="https://getbootstrap.com/docs/4.3/components/button-group/" target="_blank">Documentation</a>.
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">

									<!--begin::Portlet-->
									<% include portlet %>
									<!--end::Portlet-->

									<!--begin::Portlet-->
									<% include portlet %>
									<!--end::Portlet-->
									
								</div>
								<div class="col-md-6">

									<!--begin::Portlet-->
									<% include portlet %>
									<!--end::Portlet-->

									<!--begin::Portlet-->
									<% include portlet %>
									<!--end::Portlet-->

									<!--begin::Portlet-->
									<% include portlet %>
									<!--end::Portlet-->
									
								</div>
							</div>
						</div>