
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Sizing
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">

											<!--begin::Section-->
											<div class="kt-section">
												<span class="kt-section__info">
													Instead of applying button sizing classes to every button in a group, just add <code>.btn-group-*</code> to each <code>.btn-group</code>, including each one when nesting multiple groups.
												</span>
												<div class="kt-section__content">
													<div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
														<button type="button" class="btn btn-outline-success">Left</button>
														<button type="button" class="btn btn-outline-success">Middle</button>
														<button type="button" class="btn btn-outline-success">Right</button>
													</div>
													<div class="kt-space-10"></div>
													<div class="btn-group" role="group" aria-label="Default button group">
														<button type="button" class="btn btn-outline-warning">Left</button>
														<button type="button" class="btn btn-outline-warning">Middle</button>
														<button type="button" class="btn btn-outline-warning">Right</button>
													</div>
													<div class="kt-space-10"></div>
													<div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
														<button type="button" class="btn btn-outline-info">Left</button>
														<button type="button" class="btn btn-outline-info">Middle</button>
														<button type="button" class="btn btn-outline-info">Right</button>
													</div>
												</div>
											</div>

											<!--end::Section-->
										</div>
									</div>