
						<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
							<div class="row">
								<div class="col-md-6">

									<!--begin::Portlet-->
									<% include portlet %>
									<!--end::Portlet-->

									<!--begin::Portlet-->
									<% include portlet %>
									<!--end::Portlet-->

								</div>
								<div class="col-md-6">

									<!--begin::Portlet-->
									<% include portlet %>
									<!--end::Portlet-->

									<!--begin::Portlet-->
									<% include portlet %>
									<!--end::Portlet-->

									<!--begin::Portlet-->
									<% include portlet %>
									<!--end::Portlet-->

									<!--begin::Portlet-->
									<% include portlet %>
									<!--end::Portlet-->
									
								</div>
							</div>
						</div>