
									<div class="kt-portlet kt-portlet--tab">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hide">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Headings
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">

											<!--begin::Section-->
											<div class="kt-section">
												<span class="kt-section__info">
													All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available.
												</span>
												<div class="kt-section__content kt-section__content--solid">
													<div class="row">
														<div class="col-md-6">
															<h1>h1. Heading 1</h1>
															<div class="kt-space-10"></div>
															<h2>h2. Heading 2</h2>
															<div class="kt-space-10"></div>
															<h3>h3. Heading 3</h3>
															<div class="kt-space-10"></div>
															<h4>h4. Heading 4</h4>
															<div class="kt-space-10"></div>
															<h5>h5. Heading 5</h5>
															<div class="kt-space-10"></div>
															<h6>h6. Heading 6</h6>
														</div>
														<div class="col-md-6">
															<h1 class="kt-font-success">h1. Heading 1</h1>
															<div class="kt-space-10"></div>
															<h2 class="kt-font-info">h2. Heading 2</h2>
															<div class="kt-space-10"></div>
															<h3 class="kt-font-warning">h3. Heading 3</h3>
															<div class="kt-space-10"></div>
															<h4 class="kt-font-danger">h4. Heading 4</h4>
															<div class="kt-space-10"></div>
															<h5 class="kt-font-primary">h5. Heading 5</h5>
															<div class="kt-space-10"></div>
															<h6 class="kt-font-brand">h6. Heading 6</h6>
														</div>
													</div>
												</div>
											</div>

											<!--end::Section-->

											<!--begin::Section-->
											<div class="kt-section">
												<span class="kt-section__info">
													Use the included utility classes to recreate the small secondary heading text.
												</span>
												<div class="kt-section__content kt-section__content--solid">
													<h3>
														Fancy display heading
														<small class="text-muted">With faded secondary text</small>
													</h3>
												</div>
											</div>

											<!--end::Section-->

											<!--begin::Section-->
											<div class="kt-section">
												<span class="kt-section__info">
													Larger, slightly more opinionated heading styles.
												</span>
												<div class="kt-section__content kt-section__content--solid">
													<h3 class="display-1">Display 1</h3>
													<h3 class="display-2">Display 2</h3>
													<h3 class="display-3">Display 3</h3>
												</div>
											</div>

											<!--end::Section-->

											<!--begin::Section-->
											<div class="kt-section">
												<span class="kt-section__info">
													Make a paragraph stand out by adding <code>.lead</code>.
												</span>
												<div class="kt-section__content kt-section__content--solid">
													<p class="lead">
														Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
													</p>
												</div>
											</div>

											<!--end::Section-->
										</div>
									</div>