
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													Default Navigation
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">

											<!--begin::Section-->
											<div class="kt-section">
												<div class="kt-section__content kt-section__content--border kt-section__content--fit">
													<ul class="kt-nav">
														<li class="kt-nav__item">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-drop"></i>
																<span class="kt-nav__link-text">Activity</span>
															</a>
														</li>
														<li class="kt-nav__item kt-nav__item--active">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-rocket-2"></i>
																<span class="kt-nav__link-text">Messages</span>
																<span class="kt-nav__link-badge">
																	<span class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill kt-badge--rounded">new</span>
																</span>
															</a>
														</li>
														<li class="kt-nav__item">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-calendar-8"></i>
																<span class="kt-nav__link-text">FAQ</span>
															</a>
														</li>
														<li class="kt-nav__item">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-link"></i>
																<span class="kt-nav__link-text">Settings</span>
															</a>
														</li>
														<li class="kt-nav__item">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-new-email"></i>
																<span class="kt-nav__link-text">Support</span>
																<span class="kt-nav__link-badge">
																	<span class="kt-badge kt-badge--success">5</span>
																</span>
															</a>
														</li>
													</ul>
												</div>
											</div>

											<!--begin::Dropdown-->
											<div class="dropdown">
												<a href="#" class="btn btn-label-brand btn-bold btn-sm dropdown-toggle" data-toggle="dropdown">
													Dropdown example
												</a>
												<div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton">

													<!--begin::Nav-->
													<ul class="kt-nav">
														<li class="kt-nav__item">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-drop"></i>
																<span class="kt-nav__link-text">Activity</span>
															</a>
														</li>
														<li class="kt-nav__item kt-nav__item--active">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-rocket-2"></i>
																<span class="kt-nav__link-text">Messages</span>
																<span class="kt-nav__link-badge">
																	<span class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill kt-badge--rounded">new</span>
																</span>
															</a>
														</li>
														<li class="kt-nav__item">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-calendar-8"></i>
																<span class="kt-nav__link-text">FAQ</span>
															</a>
														</li>
														<li class="kt-nav__item">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-link"></i>
																<span class="kt-nav__link-text">Settings</span>
															</a>
														</li>
														<li class="kt-nav__item">
															<a href="#" class="kt-nav__link">
																<i class="kt-nav__link-icon flaticon2-new-email"></i>
																<span class="kt-nav__link-text">Support</span>
																<span class="kt-nav__link-badge">
																	<span class="kt-badge kt-badge--success">5</span>
																</span>
															</a>
														</li>
													</ul>

													<!--end::Nav-->
												</div>
											</div>

											<!--end::Dropdown-->
										</div>
									</div>