
						<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

							<!--begin::Pricing Tables Page - 3-->

							<!--begin::Portlet-->
							<div class="kt-portlet">
								<div class="kt-portlet__head">
									<div class="kt-portlet__head-label">
										<span class="kt-portlet__head-icon">
											<i class="la la-puzzle-piece"></i>
										</span>
										<h3 class="kt-portlet__head-title">
											Pricing Table
										</h3>
									</div>
								</div>
								<div class="kt-portlet__body">
									<div class="kt-pricing-3 kt-pricing-3--fixed">
										<div class="kt-pricing-3__items">
											<div class="row row-no-padding">
												<div class="kt-pricing-3__item col-lg-4">
													<div class="kt-pricing-3__wrapper">
														<h3 class="kt-pricing-3__title">Basic</h3>
														<span class="kt-pricing-3__price kt-pricing-3__price--padding">Free</span><br>
														<span class="kt-pricing-3__description">
															<span>Lorem ipsum dolor sit amet adipiscing elit</span>
															<span>sed do eiusmod tempors labore et dolore</span>
															<span>magna siad enim aliqua</span>
														</span>
														<div class="kt-pricing-3__btn">
															<button type="button" class="btn btn-pill  btn-brand btn-wide btn-upper btn-bold">Download</button>
														</div>
													</div>
												</div>
												<div class="kt-pricing-3__item kt-pricing-3__item--brand kt-bg-brand col-lg-4">
													<div class="kt-pricing-3__wrapper">
														<h3 class="kt-pricing-3__title kt-font-light">Professional</h3>
														<span class="kt-pricing-3__price">
															<span class="kt-pricing-3__label kt-font-brand kt-opacity-7">$</span>
															<span class="kt-pricing-3__number kt-font-brand">29</span>
															<span class="kt-pricing-3__text kt-font-brand kt-opacity-7">/&nbsp;&nbsp;Per Installation</span>
														</span>
														<br>
														<span class="kt-pricing-3__description">
															<span>Lorem ipsum dolor sit amet adipiscing elit</span>
															<span>sed do eiusmod tempors labore et dolore</span>
															<span>magna siad enim aliqua</span>
														</span>
														<div class="kt-pricing-3__btn">
															<button type="button" class="btn btn-pill btn-light btn-wide btn-upper btn-bold">Purchase</button>
														</div>
													</div>
												</div>
												<div class="kt-pricing-3__item col-lg-4">
													<div class="kt-pricing-3__wrapper">
														<h3 class="kt-pricing-3__title">Extended</h3>
														<span class="kt-pricing-3__price">
															<span class="kt-pricing-3__label">$</span>
															<span class="kt-pricing-3__number">99</span>
															<span class="kt-pricing-3__text">/&nbsp;&nbsp;Per Installation</span>
														</span>
														<br>
														<span class="kt-pricing-3__description">
															<span>Lorem ipsum dolor sit amet adipiscing elit</span>
															<span>sed do eiusmod tempors labore et dolore</span>
															<span>magna siad enim aliqua</span>
														</span>
														<div class="kt-pricing-3__btn">
															<button type="button" class="btn btn-pill  btn-brand btn-wide btn-upper btn-bold">Purchase</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!--end::Portlet-->

							<!--begin::Pricing Tables Page - 3-->
						</div>