<ul class="kt-nav">
  <li class="kt-nav__head">
    Add anything or jump to:
    <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
  </li>
  <li class="kt-nav__separator"></li>
  <li class="kt-nav__item">
    <a href="#" class="kt-nav__link">
      <i class="kt-nav__link-icon flaticon2-drop"></i>
      <span class="kt-nav__link-text">Order</span>
    </a>
  </li>
  <li class="kt-nav__item">
    <a href="#" class="kt-nav__link">
      <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
      <span class="kt-nav__link-text">Ticket</span>
    </a>
  </li>
  <li class="kt-nav__item">
    <a href="#" class="kt-nav__link">
      <i class="kt-nav__link-icon flaticon2-link"></i>
      <span class="kt-nav__link-text">Goal</span>
    </a>
  </li>
  <li class="kt-nav__item">
    <a href="#" class="kt-nav__link">
      <i class="kt-nav__link-icon flaticon2-new-email"></i>
      <span class="kt-nav__link-text">Support Case</span>
      <span class="kt-nav__link-badge">
        <span class="kt-badge kt-badge--brand kt-badge--rounded">5</span>
      </span>
    </a>
  </li>
  <li class="kt-nav__separator"></li>
  <li class="kt-nav__foot">
    <a class="btn btn-label-brand btn-bold btn-sm" href="#">Upgrade plan</a>
    <a class="btn btn-clean btn-bold btn-sm kt-hidden" href="#" data-toggle="kt-tooltip" data-placement="right"
      title="Click to learn more...">Learn more</a>
  </li>
</ul>
