<div class="kt-head kt-head--skin-dark" style="background-image: url(/assets/media/misc/bg-1.jpg)">
  <h3 class="kt-head__title">
    User Quick Actions
    <span class="kt-space-15"></span>
    <span class="btn btn-success btn-sm btn-bold btn-font-md">23 tasks pending</span>
  </h3>
</div>
