<div class="kt-portlet">
  <div class="kt-portlet__body  kt-portlet__body--fit">
    <div class="row row-no-padding row-col-separator-xl">
      <% for (var i = 0; i < 5; i++ ) { %>
      <% include sectioncontent %>
      <% } %>
    </div>
  </div>
</div>
