<div class="col-xl-4">

  <!--begin:: Widgets/Daily Sales-->
  <div class="kt-portlet kt-portlet--height-fluid">
    <div class="kt-widget14">
      <div class="kt-widget14__header kt-margin-b-30">
        <h3 class="kt-widget14__title">
          <!-- Daily Sales -->
          <%= charts.title %>
        </h3>
        <span class="kt-widget14__desc">
          <!-- Check out each collumn for more details -->
          <%= charts.desc %>
        </span>
      </div>
      <div class="kt-widget14__chart" style="height:120px;">
        <canvas id="kt_chart_daily_sales"></canvas>
      </div>
    </div>
  </div>

  <!--end:: Widgets/Daily Sales-->
</div>
