<div class="kt-login__left">
  <div class="kt-login__wrapper">
    <div class="kt-login__content">
      <a class="kt-login__logo" href="#">
        <img src="<%= login5.aside.logo.src %>">
      </a>
      <h3 class="kt-login__title"><%= login5.aside.title %></h3>
      <span class="kt-login__desc">
        <%= login5.aside.desc %>
      </span>
      <div class="kt-login__actions">
        <button type="button" id="kt_login_signup" class="btn btn-outline-brand btn-pill"><%= login5.aside.button %></button>
      </div>
    </div>
  </div>
</div>
