<div class="kt-login__left">
  <div class="kt-login__wrapper">
    <div class="kt-login__content">
      <a class="kt-login__logo" href="#">
        <img src="<%= left.logo.src %>">
      </a>
      <h3 class="kt-login__title"><%= left.title %></h3>
      <span class="kt-login__desc">
        <%= left.desc %>
      </span>
      <div class="kt-login__actions">
        <button type="button" id="kt_login_signup" class="btn btn-outline-brand btn-pill"><%= left.button %></button>
      </div>
    </div>
  </div>
</div>
