<div class="kt-grid kt-grid--ver kt-grid--root">
  <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v5 kt-login--signin" id="kt_login">
    <div
      class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile"
      style="background-image: url(<%= background.url %>);">

      <% include left %>

      <div class="kt-login__divider">
        <div></div>
      </div>

      <% include right %>

    </div>
  </div>
</div>
