<div class="kt-login__account">
  <span class="kt-login__account-msg">
    <%= login4.footer.message %>
  </span>
  &nbsp;&nbsp;
  <a href="javascript:;" id="kt_login_signup" class="kt-login__account-link"><%= login4.footer.button %></a>
</div>
