<div class="kt-login__signup">
  <div class="kt-login__head">
    <h3 class="kt-login__title"><%= signup.title %></h3>
    <div class="kt-login__desc"><%= signup.desc %></div>
  </div>
  <form class="kt-form" action="">
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Fullname" name="fullname">
    </div>
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Email" name="email" autocomplete="off">
    </div>
    <div class="input-group">
      <input class="form-control" type="password" placeholder="Password" name="password">
    </div>
    <div class="input-group">
      <input class="form-control" type="password" placeholder="Confirm Password" name="rpassword">
    </div>
    <div class="row kt-login__extra">
      <div class="col kt-align-left">
        <label class="kt-checkbox">
          <input type="checkbox" name="agree">I Agree the <a href="#" class="kt-link kt-login__link kt-font-bold">terms
            and conditions</a>.
          <span></span>
        </label>
        <span class="form-text text-muted"></span>
      </div>
    </div>
    <div class="kt-login__actions">
      <button id="kt_login_signup_submit" class="btn btn-brand btn-pill kt-login__btn-primary"><%= signup.actions[0] %></button>&nbsp;&nbsp;
      <button id="kt_login_signup_cancel" class="btn btn-secondary btn-pill kt-login__btn-secondary"><%= signup.actions[1] %></button>
    </div>
  </form>
</div>
