
						<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
							<div class="row">
								<div class="col">
									<div class="alert alert-light alert-elevate fade show" role="alert">
										<div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
										<div class="alert-text">
											Morris is customizable and super easy plugin to build good looking charts.
											<br>
											For more info please visit the plugin's <a class="kt-link kt-font-bold" href="https://morrisjs.github.io/morris.js/index.html" target="_blank">Demo Page</a> or <a class="kt-link kt-font-bold" href="https://github.com/morrisjs/morris.js" target="_blank">Github Repo</a>.
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">

									<!--begin::Portlet-->
									<div class="kt-portlet kt-portlet--tab">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Line Chart
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div id="kt_morris_1" style="height:500px;"></div>
										</div>
									</div>

									<!--end::Portlet-->
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">

									<!--begin::Portlet-->
									<div class="kt-portlet kt-portlet--tab">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Area Chart
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div id="kt_morris_2" style="height:500px;"></div>
										</div>
									</div>

									<!--end::Portlet-->
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">

									<!--begin::Portlet-->
									<div class="kt-portlet kt-portlet--tab">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Bar Chart
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div id="kt_morris_3" style="height:500px;"></div>
										</div>
									</div>

									<!--end::Portlet-->
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">

									<!--begin::Portlet-->
									<div class="kt-portlet kt-portlet--tab">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Pie Chart
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div id="kt_morris_4" style="height:500px;"></div>
										</div>
									</div>

									<!--end::Portlet-->
								</div>
							</div>
						</div>