
						<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

							<!--begin: Pagination -->
							<div class="kt-portlet">
								<div class="kt-portlet__head">
									<div class="kt-portlet__head-label">
										<h3 class="kt-portlet__head-title">
											Pagination Examples
										</h3>
									</div>
								</div>
								<div class="kt-portlet__body">
									<div class="tab-content">

										<!--begin: Section-->
										<% include portlet %>
										<!--end: Section-->

										<!--begin: Section-->
										<% include portlet %>
										<!--end: Section-->

										<!--begin: Section-->
										<% include portlet %>
										<!--end: Section-->

										<!--begin: Section-->
										<% include portlet %>
										<!--end: Section-->
										
									</div>
								</div>
							</div>

							<!--end: Pagination -->
						</div>