<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

  <!--begin::Pricing Tables Page - 3-->

  <!--begin::Portlet-->
  <% include portlet/portlet %>

  <!--end::Portlet-->

  <!--begin::Pricing Tables Page - 3-->
</div>
