
						<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
							<div class="row">
								<div class="col">
									<div class="alert alert-light alert-elevate fade show" role="alert">
										<div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
										<div class="alert-text">
											Flot is a pure JavaScript plotting library for jQuery, with a focus on simple usage, attractive looks and interactive features.
											<br>
											For more info please visit the plugin's <a class="kt-link kt-font-bold" href="https://www.flotcharts.org/" target="_blank">Demo Page</a> or <a class="kt-link kt-font-bold" href="https://github.com/flot/flot" target="_blank">Github Repo</a>.
										</div>
									</div>
								</div>
							</div>

							<!--begin::Portlet-->
							<div class="kt-portlet">
								<div class="kt-portlet__head">
									<div class="kt-portlet__head-label">
										<h3 class="kt-portlet__head-title">
											SweetAlert Examples
										</h3>
									</div>
								</div>
								<div class="kt-portlet__body">
									<table class="table table-bordered">
										<tr>
											<td style="width: 40%; vertical-align: middle;">Basic alert</td>
											<td>
												<button type="button" class="btn btn-info btn-custom" id="kt_sweetalert_demo_1"> Show me</button>
											</td>
										</tr>
										<tr>
											<td style="width: 40%; vertical-align: middle;">Alert title and text</td>
											<td>
												<button type="button" class="btn btn-success btn-custom" id="kt_sweetalert_demo_2"> Show me</button>
											</td>
										</tr>
										<tr>
											<td style="width: 40%; vertical-align: middle;">Enable <code>warning</code>, <code>error</code>, <code>success</code>, <code>info</code> and <code>question</code> state icons</td>
											<td>
												<button type="button" class="btn btn-warning btn-custom" id="kt_sweetalert_demo_3_1"> Warning</button>
												<button type="button" class="btn btn-danger btn-custom" id="kt_sweetalert_demo_3_2"> Error</button>
												<button type="button" class="btn btn-success btn-custom" id="kt_sweetalert_demo_3_3"> Success</button>
												<button type="button" class="btn btn-info btn-custom" id="kt_sweetalert_demo_3_4"> Info</button>
												<button type="button" class="btn btn-dark btn-custom" id="kt_sweetalert_demo_3_5"> Question</button>
											</td>
										</tr>
										<tr>
											<td style="width: 40%; vertical-align: middle;">Change confirm button text and class</td>
											<td>
												<button type="button" class="btn btn-success btn-custom" id="kt_sweetalert_demo_4"> Show me</button>
											</td>
										</tr>
										<tr>
											<td style="width: 40%; vertical-align: middle;">Custom button with icon</td>
											<td>
												<button type="button" class="btn btn-danger btn-custom" id="kt_sweetalert_demo_5"> Show me</button>
											</td>
										</tr>
										<tr>
											<td style="width: 40%; vertical-align: middle;">A custom positioned dialog with timer to auto close</td>
											<td>
												<button type="button" class="btn btn-success btn-custom" id="kt_sweetalert_demo_6"> Show me</button>
											</td>
										</tr>
										<tr>
											<td style="width: 40%; vertical-align: middle;">jQuery HTML with custom animate.css animation </td>
											<td>
												<button type="button" class="btn btn-brand btn-custom" id="kt_sweetalert_demo_7"> Show me</button>
											</td>
										</tr>
										<tr>
											<td style="width: 40%; vertical-align: middle;">A warning message, with a function attached to the confirm button</td>
											<td>
												<button type="button" class="btn btn-info btn-custom" id="kt_sweetalert_demo_8"> Show me</button>
											</td>
										</tr>
										<tr>
											<td style="width: 40%; vertical-align: middle;">By passing a parameter, you can execute something else for cancel</td>
											<td>
												<button type="button" class="btn btn-danger btn-custom" id="kt_sweetalert_demo_9"> Show me</button>
											</td>
										</tr>
										<tr>
											<td style="width: 40%; vertical-align: middle;">A message with a custom image and CSS animation disabled</td>
											<td>
												<button type="button" class="btn btn-warning btn-custom" id="kt_sweetalert_demo_10"> Show me</button>
											</td>
										</tr>
										<tr>
											<td style="width: 40%; vertical-align: middle;">A message with auto close timer</td>
											<td>
												<button type="button" class="btn btn-dark btn-custom" id="kt_sweetalert_demo_11"> Show me</button>
											</td>
										</tr>
									</table>
								</div>
							</div>

							<!--end::Portlet-->
						</div>