
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Basic Examples
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">

											<!--begin::Section-->
											<div class="kt-section">
												<span class="kt-section__info">Single button dropdowns:</span>
												<div class="kt-section__content">
													<div class="row">
														<div class="col">
															<div class="dropdown">
																<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																	Dropdown button
																</button>
																<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
																	<a class="dropdown-item" href="#" data-toggle="kt-tooltip" title="Tooltip title" data-placement="right" data-skin="dark" data-container="body">Action</a>
																	<a class="dropdown-item" href="#">Another action</a>
																	<a class="dropdown-item" href="#" data-toggle="kt-tooltip" title="Tooltip title" data-placement="left">Something else here</a>
																</div>
															</div>
														</div>
														<div class="col">
															<div class="dropdown">
																<button class="btn btn-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																	Dropdown button
																</button>
																<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
																	<a class="dropdown-item" href="#">Action</a>
																	<a class="dropdown-item" href="#">Another action</a>
																	<a class="dropdown-item" href="#">Something else here</a>
																</div>
															</div>
														</div>
														<div class="col">
															<div class="dropdown">
																<button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																	Dropdown button
																</button>
																<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
																	<a class="dropdown-item" href="#">Action</a>
																	<a class="dropdown-item" href="#">Another action</a>
																	<a class="dropdown-item" href="#">Something else here</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<!--end::Section-->
											<div class="kt-separator kt-separator--space-lg kt-separator--border-dashed"></div>

											<!--begin::Section-->
											<div class="kt-section">
												<span class="kt-section__info">Dropdown menu with icons:</span>
												<div class="kt-section__content">
													<div class="row">
														<div class="col">
															<div class="dropdown">
																<button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																	Lineawesome
																</button>
																<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
																	<a class="dropdown-item" href="#"><i class="la la-bell"></i> Action</a>
																	<a class="dropdown-item" href="#"><i class="la la-cloud-upload"></i> Another action</a>
																	<a class="dropdown-item" href="#"><i class="la la-cog"></i> Something else</a>
																</div>
															</div>
														</div>
														<div class="col">
															<div class="dropdown">
																<button class="btn btn-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																	Fontawesome
																</button>
																<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
																	<a class="dropdown-item" href="#"><i class="fa fa-bell"></i> Action</a>
																	<a class="dropdown-item" href="#"><i class="fa fa-cloud-upload"></i> Another action</a>
																	<a class="dropdown-item" href="#"><i class="fa fa-cog"></i> Something else</a>
																</div>
															</div>
														</div>
														<div class="col">
															<div class="dropdown">
																<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																	Metronic Icons
																</button>
																<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
																	<a class="dropdown-item" href="#"><i class="flaticon-share"></i> Action</a>
																	<a class="dropdown-item" href="#"><i class="flaticon-settings"></i> Another action</a>
																	<a class="dropdown-item" href="#"><i class="flaticon-graphic-2"></i> Something else</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<!--end::Section-->
											<div class="kt-separator kt-separator--space-lg kt-separator--border-dashed"></div>

											<!--begin::Section-->
											<div class="kt-section">
												<span class="kt-section__info">Button state dropdowns:</span>
												<div class="kt-section__content">
													<div class="btn-group">
														<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Primary</button>
														<div class="dropdown-menu">
															<a class="dropdown-item" href="#">Action</a>
															<a class="dropdown-item" href="#">Another action</a>
															<a class="dropdown-item" href="#">Something else here</a>
															<div class="dropdown-divider"></div>
															<a class="dropdown-item" href="#">Separated link</a>
														</div>
													</div> <!-- /btn-group -->
													<div class="btn-group">
														<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Secondary</button>
														<div class="dropdown-menu">
															<a class="dropdown-item" href="#">Action</a>
															<a class="dropdown-item" href="#">Another action</a>
															<a class="dropdown-item" href="#">Something else here</a>
															<div class="dropdown-divider"></div>
															<a class="dropdown-item" href="#">Separated link</a>
														</div>
													</div> <!-- /btn-group -->
													<div class="btn-group">
														<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Success</button>
														<div class="dropdown-menu">
															<a class="dropdown-item" href="#">Action</a>
															<a class="dropdown-item" href="#">Another action</a>
															<a class="dropdown-item" href="#">Something else here</a>
															<div class="dropdown-divider"></div>
															<a class="dropdown-item" href="#">Separated link</a>
														</div>
													</div> <!-- /btn-group -->
													<div class="btn-group">
														<button type="button" class="btn btn-brand dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Info</button>
														<div class="dropdown-menu">
															<a class="dropdown-item" href="#">Action</a>
															<a class="dropdown-item" href="#">Another action</a>
															<a class="dropdown-item" href="#">Something else here</a>
															<div class="dropdown-divider"></div>
															<a class="dropdown-item" href="#">Separated link</a>
														</div>
													</div> <!-- /btn-group -->
													<div class="btn-group">
														<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Danger</button>
														<div class="dropdown-menu">
															<a class="dropdown-item" href="#">Action</a>
															<a class="dropdown-item" href="#">Another action</a>
															<a class="dropdown-item" href="#">Something else here</a>
															<div class="dropdown-divider"></div>
															<a class="dropdown-item" href="#">Separated link</a>
														</div>
													</div> <!-- /btn-group -->
												</div>
											</div>

											<!--end::Section-->
											<div class="kt-separator kt-separator--space-lg kt-separator--border-dashed"></div>

											<!--begin::Section-->
											<div class="kt-section">
												<span class="kt-section__info">Single button dropdowns:</span>
												<div class="kt-section__content">
													<div class="btn-group">
														<button type="button" class="btn btn-primary">Primary</button>
														<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<span class="sr-only">Toggle Dropdown</span>
														</button>
														<div class="dropdown-menu">
															<a class="dropdown-item" href="#">Action</a>
															<a class="dropdown-item" href="#">Another action</a>
															<a class="dropdown-item" href="#">Something else here</a>
															<div class="dropdown-divider"></div>
															<a class="dropdown-item" href="#">Separated link</a>
														</div>
													</div> <!-- /btn-group -->
													<div class="btn-group">
														<button type="button" class="btn btn-brand">Secondary</button>
														<button type="button" class="btn btn-brand dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<span class="sr-only">Toggle Dropdown</span>
														</button>
														<div class="dropdown-menu">
															<a class="dropdown-item" href="#">Action</a>
															<a class="dropdown-item" href="#">Another action</a>
															<a class="dropdown-item" href="#">Something else here</a>
															<div class="dropdown-divider"></div>
															<a class="dropdown-item" href="#">Separated link</a>
														</div>
													</div> <!-- /btn-group -->
													<div class="btn-group">
														<button type="button" class="btn btn-success">Success</button>
														<button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<span class="sr-only">Toggle Dropdown</span>
														</button>
														<div class="dropdown-menu">
															<a class="dropdown-item" href="#">Action</a>
															<a class="dropdown-item" href="#">Another action</a>
															<a class="dropdown-item" href="#">Something else here</a>
															<div class="dropdown-divider"></div>
															<a class="dropdown-item" href="#">Separated link</a>
														</div>
													</div> <!-- /btn-group -->
													<div class="btn-group">
														<button type="button" class="btn btn-warning">Warning</button>
														<button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<span class="sr-only">Toggle Dropdown</span>
														</button>
														<div class="dropdown-menu">
															<a class="dropdown-item" href="#">Action</a>
															<a class="dropdown-item" href="#">Another action</a>
															<a class="dropdown-item" href="#">Something else here</a>
															<div class="dropdown-divider"></div>
															<a class="dropdown-item" href="#">Separated link</a>
														</div>
													</div> <!-- /btn-group -->
												</div>
											</div>

											<!--end::Section-->
											<div class="kt-separator kt-separator--space-lg kt-separator--border-dashed"></div>

											<!--begin::Section-->
											<div class="kt-section">
												<span class="kt-section__info">Single icon button dropdowns:</span>
												<div class="kt-section__content">
													<div class="dropdown dropdown-inline">
														<button type="button" class="btn btn-hover-brand btn-elevate-hover btn-icon btn-sm btn-icon-md btn-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<i class="flaticon-more-1"></i>
														</button>
														<div class="dropdown-menu dropdown-menu-right">
															<a class="dropdown-item" href="#"><i class="la la-plus"></i> New Report</a>
															<a class="dropdown-item" href="#"><i class="la la-user"></i> Add Customer</a>
															<a class="dropdown-item" href="#"><i class="la la-cloud-download"></i> New Download</a>
															<div class="dropdown-divider"></div>
															<a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>
														</div>
													</div>
													&nbsp;&nbsp;&nbsp;
													<div class="dropdown dropdown-inline">
														<button type="button" class="btn btn-hover-danger btn-elevate-hover btn-icon btn-sm btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<i class="flaticon-more-1"></i>
														</button>
														<div class="dropdown-menu dropdown-menu-right">
															<a class="dropdown-item" href="#"><i class="la la-plus"></i> New Report</a>
															<a class="dropdown-item" href="#"><i class="la la-user"></i> Add Customer</a>
															<a class="dropdown-item" href="#"><i class="la la-cloud-download"></i> New Download</a>
															<div class="dropdown-divider"></div>
															<a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>
														</div>
													</div>
													&nbsp;&nbsp;&nbsp;
													<div class="dropdown dropdown-inline">
														<button type="button" class="btn btn-hover-brand btn-elevate-hover btn-icon btn-sm btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<i class="flaticon-more"></i>
														</button>
														<div class="dropdown-menu dropdown-menu-right">
															<a class="dropdown-item" href="#"><i class="la la-plus"></i> New Report</a>
															<a class="dropdown-item" href="#"><i class="la la-user"></i> Add Customer</a>
															<a class="dropdown-item" href="#"><i class="la la-cloud-download"></i> New Download</a>
															<div class="dropdown-divider"></div>
															<a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>
														</div>
													</div>
													&nbsp;&nbsp;&nbsp;
													<div class="dropdown dropdown-inline">
														<button type="button" class="btn btn-default btn-icon btn-sm btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<i class="flaticon-more"></i>
														</button>
														<div class="dropdown-menu dropdown-menu-right">
															<a class="dropdown-item" href="#"><i class="la la-plus"></i> New Report</a>
															<a class="dropdown-item" href="#"><i class="la la-user"></i> Add Customer</a>
															<a class="dropdown-item" href="#"><i class="la la-cloud-download"></i> New Download</a>
															<div class="dropdown-divider"></div>
															<a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>
														</div>
													</div>
													&nbsp;&nbsp;&nbsp;
													<div class="dropdown dropdown-inline">
														<button type="button" class="btn btn-clean btn-icon btn-sm btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<i class="flaticon-more"></i>
														</button>
														<div class="dropdown-menu dropdown-menu-right">
															<a class="dropdown-item" href="#"><i class="la la-plus"></i> New Report</a>
															<a class="dropdown-item" href="#"><i class="la la-user"></i> Add Customer</a>
															<a class="dropdown-item" href="#"><i class="la la-cloud-download"></i> New Download</a>
															<div class="dropdown-divider"></div>
															<a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>
														</div>
													</div>
													&nbsp;&nbsp;&nbsp;
													<div class="dropdown dropdown-inline">
														<button type="button" class="btn btn-brand btn-elevate-hover btn-icon btn-sm btn-icon-md btn-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<i class="flaticon-more-1"></i>
														</button>
														<div class="dropdown-menu dropdown-menu-right">
															<a class="dropdown-item" href="#"><i class="la la-plus"></i> New Report</a>
															<a class="dropdown-item" href="#"><i class="la la-user"></i> Add Customer</a>
															<a class="dropdown-item" href="#"><i class="la la-cloud-download"></i> New Download</a>
															<div class="dropdown-divider"></div>
															<a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>
														</div>
													</div>
												</div>
											</div>

											<!--end::Section-->
										</div>
									</div>