
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hide">
													<i class="la la-gear"></i>
												</span>
												<h3 class="kt-portlet__head-title">
													Base Colors
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">

											<!--begin::Section-->
											<div class="kt-section">
												<div class="kt-section__info">
													You can apply Keen's base color helper classes to the most of the Keen's components:
												</div>
												<div class="kt-section__content ">
													<div class="table-responsive">
														<table class="table table-bordered table-head-solid">
															<thead>
																<tr>
																	<th style="width: 150px">Level</th>
																	<th width="200">Preview</th>
																	<th>Class example</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td colspan="4"><span class="kt-font-bold">Label Classes</span></td>
																</tr>
																<tr>
																	<td>Level 1</td>
																	<td>
																		<span class="kt-label-font-color-1">Font Color</span>
																		&nbsp;
																		<span class="kt-label-bg-color-1" style="padding: 5px; color: #fff;">BG Color</span>
																	</td>
																	<td>
																		<code>kt-label-font-color-1</code>&nbsp;
																		<code>kt-label-bg-color-1</code>
																	</td>
																</tr>
																<tr>
																	<td>Level 2</td>
																	<td>
																		<span class="kt-label-font-color-2">Font Color</span>
																		&nbsp;
																		<span class="kt-label-bg-color-2" style="padding: 5px;  color: #fff;">BG Color</span>
																	</td>
																	<td>
																		<code>kt-label-font-color-2</code>&nbsp;
																		<code>kt-label-bg-color-2</code>
																	</td>
																</tr>
																<tr>
																	<td>Level 3</td>
																	<td>
																		<span class="kt-label-font-color-3">Font Color</span>
																		&nbsp;
																		<span class="kt-label-bg-color-3" style="padding: 5px; color: #fff;">BG Color</span>
																	</td>
																	<td>
																		<code>kt-label-font-color-3</code>&nbsp;
																		<code>kt-label-bg-color-3</code>
																	</td>
																</tr>
																<tr>
																	<td>Level 4</td>
																	<td>
																		<span class="kt-label-font-color-4">Font Color</span>
																		&nbsp;
																		<span class="kt-label-bg-color-4" style="padding: 5px; color: #fff;">BG Color</span>
																	</td>
																	<td>
																		<code>kt-label-font-color-4</code>&nbsp;
																		<code>kt-label-bg-color-4</code>
																	</td>
																</tr>
																<tr>
																	<td colspan="4"><span class="kt-font-bold">Shape Classes</span></td>
																</tr>
																<tr>
																	<td>Level 1</td>
																	<td>
																		<span class="kt-shape-font-color-1">Font Color</span>
																		&nbsp;
																		<span class="kt-shape-bg-color-1" style="padding: 5px; color: #fff;">BG Color</span>
																	</td>
																	<td>
																		<code>kt-shape-font-color-1</code>&nbsp;
																		<code>kt-shape-bg-color-1</code>
																	</td>
																</tr>
																<tr>
																	<td>Level 2</td>
																	<td>
																		<span class="kt-shape-font-color-2">Font Color</span>
																		&nbsp;
																		<span class="kt-shape-bg-color-2" style="padding: 5px;  color: #fff;">BG Color</span>
																	</td>
																	<td>
																		<code>kt-shape-font-color-2</code>&nbsp;
																		<code>kt-shape-bg-color-2</code>
																	</td>
																</tr>
																<tr>
																	<td>Level 3</td>
																	<td>
																		<span class="kt-shape-font-color-3">Font Color</span>
																		&nbsp;
																		<span class="kt-shape-bg-color-3" style="padding: 5px; color: #fff;">BG Color</span>
																	</td>
																	<td>
																		<code>kt-shape-font-color-3</code>&nbsp;
																		<code>kt-shape-bg-color-3</code>
																	</td>
																</tr>
																<tr>
																	<td>Level 4</td>
																	<td>
																		<span class="kt-shape-font-color-4">Font Color</span>
																		&nbsp;
																		<span class="kt-shape-bg-color-4" style="padding: 5px; color: #fff;">BG Color</span>
																	</td>
																	<td>
																		<code>kt-shape-font-color-4</code>&nbsp;
																		<code>kt-shape-bg-color-4</code>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>

											<!--end::Section-->
										</div>
									</div>