<ul class="kt-nav">
  <li class="kt-nav__head">
    Messaging
    <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
  </li>
  <li class="kt-nav__separator"></li>
  <li class="kt-nav__item">
    <a href="#" class="kt-nav__link">
      <i class="kt-nav__link-icon flaticon2-group"></i>
      <span class="kt-nav__link-text">New Group</span>
    </a>
  </li>
  <li class="kt-nav__item">
    <a href="#" class="kt-nav__link">
      <i class="kt-nav__link-icon flaticon2-open-text-book"></i>
      <span class="kt-nav__link-text">Contacts</span>
      <span class="kt-nav__link-badge">
        <span class="kt-badge kt-badge--brand  kt-badge--rounded-">5</span>
      </span>
    </a>
  </li>
  <li class="kt-nav__item">
    <a href="#" class="kt-nav__link">
      <i class="kt-nav__link-icon flaticon2-bell-2"></i>
      <span class="kt-nav__link-text">Calls</span>
    </a>
  </li>
  <li class="kt-nav__item">
    <a href="#" class="kt-nav__link">
      <i class="kt-nav__link-icon flaticon2-dashboard"></i>
      <span class="kt-nav__link-text">Settings</span>
    </a>
  </li>
  <li class="kt-nav__item">
    <a href="#" class="kt-nav__link">
      <i class="kt-nav__link-icon flaticon2-protected"></i>
      <span class="kt-nav__link-text">Help</span>
    </a>
  </li>
  <li class="kt-nav__separator"></li>
  <li class="kt-nav__foot">
    <a class="btn btn-label-brand btn-bold btn-sm" href="#">Upgrade plan</a>
    <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right"
      title="Click to learn more...">Learn more</a>
  </li>
</ul>
