
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													Basic Notes
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="kt-notes">
												<div class="kt-notes__items">
													<div class="kt-notes__item">
														<div class="kt-notes__media">
															<span class="kt-notes__icon">
																<i class="flaticon2-shield kt-font-brand"></i>
															</span>
														</div>
														<div class="kt-notes__content">
															<div class="kt-notes__section">
																<div class="kt-notes__info">
																	<a href="#" class="kt-notes__title">
																		New order
																	</a>
																	<span class="kt-notes__desc">
																		9:30AM 16 June, 2015
																	</span>
																	<span class="kt-badge kt-badge--brand kt-badge--inline">important</span>
																</div>
																<div class="kt-notes__dropdown">
																	<a href="#" class="btn btn-sm btn-icon-md btn-icon" data-toggle="dropdown">
																		<i class="flaticon-more-1 kt-font-brand"></i>
																	</a>
																	<div class="dropdown-menu dropdown-menu-right">
																		<ul class="kt-nav">
																			<li class="kt-nav__item">
																				<a href="#" class="kt-nav__link">
																					<i class="kt-nav__link-icon flaticon2-line-chart"></i>
																					<span class="kt-nav__link-text">Reports</span>
																				</a>
																			</li>
																			<li class="kt-nav__item">
																				<a href="#" class="kt-nav__link">
																					<i class="kt-nav__link-icon flaticon2-send"></i>
																					<span class="kt-nav__link-text">Messages</span>
																				</a>
																			</li>
																			<li class="kt-nav__item">
																				<a href="#" class="kt-nav__link">
																					<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
																					<span class="kt-nav__link-text">Charts</span>
																				</a>
																			</li>
																			<li class="kt-nav__item">
																				<a href="#" class="kt-nav__link">
																					<i class="kt-nav__link-icon flaticon2-avatar"></i>
																					<span class="kt-nav__link-text">Members</span>
																				</a>
																			</li>
																			<li class="kt-nav__item">
																				<a href="#" class="kt-nav__link">
																					<i class="kt-nav__link-icon flaticon2-settings"></i>
																					<span class="kt-nav__link-text">Settings</span>
																				</a>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
															<span class="kt-notes__body">
																Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
															</span>
														</div>
													</div>
													<div class="kt-notes__item">
														<div class="kt-notes__media">
															<span class="kt-notes__icon">
																<i class="flaticon2-line-chart kt-font-success"></i>
															</span>
														</div>
														<div class="kt-notes__content">
															<div class="kt-notes__section">
																<div class="kt-notes__info">
																	<a href="#" class="kt-notes__title">
																		System notification
																	</a>
																	<span class="kt-notes__desc">
																		10:30AM 23 May, 2013
																	</span>
																</div>
																<div class="kt-notes__dropdown">
																	<a href="#" class="btn btn-sm btn-icon-md btn-icon" data-toggle="dropdown">
																		<i class="flaticon-more-1 kt-font-brand"></i>
																	</a>
																	<div class="dropdown-menu dropdown-menu-right">
																		<ul class="kt-nav">
																			<li class="kt-nav__item">
																				<a href="#" class="kt-nav__link">
																					<i class="kt-nav__link-icon flaticon2-line-chart"></i>
																					<span class="kt-nav__link-text">Reports</span>
																				</a>
																			</li>
																			<li class="kt-nav__item">
																				<a href="#" class="kt-nav__link">
																					<i class="kt-nav__link-icon flaticon2-send"></i>
																					<span class="kt-nav__link-text">Messages</span>
																				</a>
																			</li>
																			<li class="kt-nav__item">
																				<a href="#" class="kt-nav__link">
																					<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
																					<span class="kt-nav__link-text">Charts</span>
																				</a>
																			</li>
																			<li class="kt-nav__item">
																				<a href="#" class="kt-nav__link">
																					<i class="kt-nav__link-icon flaticon2-avatar"></i>
																					<span class="kt-nav__link-text">Members</span>
																				</a>
																			</li>
																			<li class="kt-nav__item">
																				<a href="#" class="kt-nav__link">
																					<i class="kt-nav__link-icon flaticon2-settings"></i>
																					<span class="kt-nav__link-text">Settings</span>
																				</a>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
															<span class="kt-notes__body">
																Make Metronic Great Again. Lorem IpsumMake Widgets Great Again.Estudiat Communy Elit
															</span>
														</div>
													</div>
													<div class="kt-notes__item">
														<div class="kt-notes__media">
															<span class="kt-notes__icon">
																<i class="flaticon2-layers kt-font-danger"></i>
															</span>
														</div>
														<div class="kt-notes__content">
															<div class="kt-notes__section">
																<div class="kt-notes__info">
																	<a href="#" class="kt-notes__title">
																		New member
																	</a>
																	<span class="kt-notes__desc">
																		7:10AM 21 February, 2016
																	</span>
																	<span class="kt-badge kt-badge--success kt-badge--inline">pending</span>
																</div>
																<div class="kt-notes__dropdown">
																	<a href="#" class="btn btn-sm btn-icon-md btn-icon" data-toggle="dropdown">
																		<i class="flaticon-more-1 kt-font-brand"></i>
																	</a>
																	<div class="dropdown-menu dropdown-menu-right">
																		<ul class="kt-nav">
																			<li class="kt-nav__item">
																				<a href="#" class="kt-nav__link">
																					<i class="kt-nav__link-icon flaticon2-line-chart"></i>
																					<span class="kt-nav__link-text">Reports</span>
																				</a>
																			</li>
																			<li class="kt-nav__item">
																				<a href="#" class="kt-nav__link">
																					<i class="kt-nav__link-icon flaticon2-send"></i>
																					<span class="kt-nav__link-text">Messages</span>
																				</a>
																			</li>
																			<li class="kt-nav__item">
																				<a href="#" class="kt-nav__link">
																					<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
																					<span class="kt-nav__link-text">Charts</span>
																				</a>
																			</li>
																			<li class="kt-nav__item">
																				<a href="#" class="kt-nav__link">
																					<i class="kt-nav__link-icon flaticon2-avatar"></i>
																					<span class="kt-nav__link-text">Members</span>
																				</a>
																			</li>
																			<li class="kt-nav__item">
																				<a href="#" class="kt-nav__link">
																					<i class="kt-nav__link-icon flaticon2-settings"></i>
																					<span class="kt-nav__link-text">Settings</span>
																				</a>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
															<span class="kt-notes__body">
																Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium aque ipsa quae ab illo inventore veritatis et quasi architecto.
															</span>
														</div>
													</div>
													<div class="kt-notes__item">
														<div class="kt-notes__media">
															<span class="kt-notes__icon">
																<i class="flaticon2-pie-chart-1 kt-font-warning"></i>
															</span>
														</div>
														<div class="kt-notes__content">
															<div class="kt-notes__section">
																<div class="kt-notes__info">
																	<a href="#" class="kt-notes__title">
																		New mail
																	</a>
																	<span class="kt-notes__desc">
																		11:40AM 14 March, 2012
																	</span>
																</div>
																<div class="kt-notes__dropdown">
																	<a href="#" class="btn btn-sm btn-icon-md btn-icon" data-toggle="dropdown">
																		<i class="flaticon-more-1 kt-font-brand"></i>
																	</a>
																	<div class="dropdown-menu dropdown-menu-right">
																		<ul class="kt-nav">
																			<li class="kt-nav__item">
																				<a href="#" class="kt-nav__link">
																					<i class="kt-nav__link-icon flaticon2-line-chart"></i>
																					<span class="kt-nav__link-text">Reports</span>
																				</a>
																			</li>
																			<li class="kt-nav__item">
																				<a href="#" class="kt-nav__link">
																					<i class="kt-nav__link-icon flaticon2-send"></i>
																					<span class="kt-nav__link-text">Messages</span>
																				</a>
																			</li>
																			<li class="kt-nav__item">
																				<a href="#" class="kt-nav__link">
																					<i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
																					<span class="kt-nav__link-text">Charts</span>
																				</a>
																			</li>
																			<li class="kt-nav__item">
																				<a href="#" class="kt-nav__link">
																					<i class="kt-nav__link-icon flaticon2-avatar"></i>
																					<span class="kt-nav__link-text">Members</span>
																				</a>
																			</li>
																			<li class="kt-nav__item">
																				<a href="#" class="kt-nav__link">
																					<i class="kt-nav__link-icon flaticon2-settings"></i>
																					<span class="kt-nav__link-text">Settings</span>
																				</a>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
															<span class="kt-notes__body">
																Sed ut perspiciatis unde omnis iste natus error ipsa quae ab illo inventore veritatis et quasi architecto.
															</span>
														</div>
													</div>
													<div class="kt-notes__item kt-notes__item--clean">
														<div class="kt-notes__media">
															<span class="kt-notes__circle"></span>
														</div>
														<div class="kt-notes__content">
															<div class="kt-notes__section">
																<div class="kt-notes__info">
																	<a href="#" class="kt-notes__title">
																		Nick Bold
																	</a>
																	<span class="kt-notes__desc">
																		10:30AM 23 April, 2013
																	</span>
																</div>
															</div>
															<span class="kt-notes__body">
																Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>