<div class="row">
  <div class="col-lg-6">

    <!--begin::Portlet-->
    <% for (var i = 0; i < 5; i++ ) { %>
    <% include firstblockcontent %>
    <% } %>

    <!--end::Portlet-->
  </div>
  <div class="col-lg-6">

    <!--begin::Portlet-->
    <% for (var i = 0; i < 5; i++ ) { %>
    <% include firstblockcontent %>
    <% } %>

    <!--end::Portlet-->
  </div>
</div>
