<div class="row">
  <div class="col-xl-4">

    <!--begin::Portlet-->
    <% for (var i = 0; i < 2; i++ ) { %>
    <% include secondblockcontent %>
    <% } %>
    <!--end::Portlet-->
  </div>
</div>
