<div class="kt-portlet kt-portlet--height-fluid-half">
  <div class="kt-portlet__body">
    <div class="kt-portlet__content">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of
      the printing.
      Lorem Ipsum is simply dummy text of the printing.
    </div>
  </div>
</div>
