
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													Basic Examples
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">

											<!--begin::Section-->
											<div class="kt-section">
												<h3 class="kt-section__title">
													Basic Usage
												</h3>
												<span class="kt-section__info">
													Click below button to toggle popover:
												</span>
												<div class="kt-section__content">
													<button type="button" class="btn btn-danger" data-toggle="kt-popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click me</button>
												</div>
											</div>

											<!--end::Section-->
											<div class="kt-separator kt-separator--dashed"></div>

											<!--begin::Section-->
											<div class="kt-section">
												<h3 class="kt-section__title">
													Directions
												</h3>
												<span class="kt-section__info">
													Four direction options are available: top, right, bottom, and left aligned:
												</span>
												<div class="kt-section__content kt-demo-buttons">
													<button type="button" class="btn btn-brand" data-container="body" data-toggle="kt-popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
														Popover on top
													</button>
													<button type="button" class="btn btn-primary" data-container="body" data-toggle="kt-popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
														Popover on right
													</button>
													<button type="button" class="btn btn-warning" data-container="body" data-toggle="kt-popover" data-placement="bottom" data-content="Vivamus
                        sagittis lacus vel augue laoreet rutrum faucibus.">
														Popover on bottom
													</button>
													<button type="button" class="btn btn-success" data-container="body" data-toggle="kt-popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
														Popover on left
													</button>
												</div>
											</div>

											<!--end::Section-->
											<div class="kt-separator kt-separator--dashed"></div>

											<!--begin::Section-->
											<div class="kt-section">
												<h3 class="kt-section__title">
													Dismiss on next click
												</h3>
												<span class="kt-section__info">
													Use the focus trigger to dismiss popovers on the next click that the user makes.
												</span>
												<div class="kt-section__content">
													<a tabindex="0" class="btn btn-success" role="button" data-toggle="kt-popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a>
												</div>
											</div>

											<!--end::Section-->
										</div>
									</div>