<!--begin::Portlet-->
<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        Pill Tabs <small>small size</small>
      </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
      <ul class="nav nav-pills nav-pills-sm" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#kt_tabs_7_1" role="tab">
            Logs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#kt_tabs_7_2" role="tab">
            Messages
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#kt_tabs_7_3" role="tab">
            Settings
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="tab-content">
      <div class="tab-pane active" id="kt_tabs_7_1" role="tabpanel">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled.
      </div>
      <div class="tab-pane" id="kt_tabs_7_2" role="tabpanel">
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
        a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
        a galley of type and scrambled.
      </div>
      <div class="tab-pane " id="kt_tabs_7_3" role="tabpanel">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.When an unknown printer took a
        galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
        a galley of type and scrambled.
      </div>
    </div>
  </div>
</div>

<!--end::Portlet-->
