<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

  <!--Begin::Dashboard 1-->

  <!--Begin::Section-->
  <% include section1 %>
  <!--End::Section-->

  <!--Begin::Section-->
  <% include section2 %>
  <!--End::Section-->

  <!--Begin::Section-->
  <% include section3 %>
  <!--End::Section-->

  <!--Begin::Section-->
  <% include section4 %>
  <!--End::Section-->

  <!--Begin::Section-->
  <% include section5 %>
  <!--End::Section-->

  <!--End::Dashboard 1-->
</div>
